<ion-header>
  <ion-navbar>
    <ion-title style="text-align:center">Demande de prêt</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="openModal()">
    <ion-icon name="md-power"> </ion-icon> 
    </button>
   </ion-buttons> 		
  </ion-navbar>
</ion-header>
<!-- ////////////////////////////////////////////// CLOSE HEADER PART ///////////////////////////////////////////////////////////// -->

<ion-content style="background-color: #94b6ce">
  <div class="card-section bg-light">
  <!-- ///////////////////////////////// APPLICANT DETAILS ////////////////////////////////////////////// -->
        <div class="card-section bg-light">
          <p class="formlabel">DETAILS DU DEMANDEUR</p>
          <ion-card>
              <div class="form" padding-left padding-right>
                <ion-list>
                    <ion-item style="background-color: #e4e4e426;">
                        <ion-label> titre Mr/Mrs./autre</ion-label> 
                      <ion-select [(ngModel)]="Title" name="Title"  interface="popover">
                      <ion-option value="Mr.">Mr</ion-option>
                      <ion-option value="Mrs.">Mrs</ion-option>
                      <ion-option value="Dr.">Dr.</ion-option>
                      <ion-option value="Ms.">Ms.</ion-option>
                      <ion-option value="Rev.">Rev.</ion-option>
                      <ion-option value="Prof.">Prof.</ion-option>
                      </ion-select>
                      </ion-item>
            
                      <ion-item>
                          <ion-input type="text" [(ngModel)]="ApplicantFirstName"  name="ApplicantName" placeholder="Nom" ></ion-input>
                      </ion-item>
  
                      <ion-item>
                            <ion-input type="text" [(ngModel)]="ApplicantLastName"  name="ApplicantName" placeholder="Prénom" ></ion-input>
                      </ion-item>
                       
                      <ion-item style="background-color: #e4e4e426;">
                          <ion-label>sexe</ion-label> 
                           <ion-select [(ngModel)]="ApplicantGendar" name="ApplicantGendar" interface="popover">
                              <ion-option value="Male">Masculin</ion-option>
                              <ion-option value="Female">Feminin</ion-option>
                              </ion-select>
                      </ion-item>
                                
                      <ion-item>
                              <ion-input type="text" [(ngModel)]="ApplicantEmail" disabled="true"  name="ApplicantEmail" placeholder="Email Addresse" ></ion-input>
                      </ion-item>


                      <ion-item style="background-color: #e4e4e426;">
                            <ion-label>Type de piece</ion-label> 
                          <ion-select [(ngModel)]="IDType" name="IDType"  interface="popover">
                            <ion-option value="Driving License.">Permis de conduire</ion-option>
                            <ion-option value="Passport.">Passport</ion-option>
                            <ion-option value="National Card.">CNI</ion-option>
                          </ion-select>
                      </ion-item>
                                  
                    <ion-item>
                         <ion-input type="number" [(ngModel)]="IDNumber"  name="IDNumber" placeholder="Numéro de pièce" ></ion-input>
                    </ion-item>
                                      
                    <ion-item style="background-color: #e4e4e426;">
                         <ion-label>Statut matrimonial</ion-label> 
                           <ion-select [(ngModel)]="MaritalStatus" name="MaritalStatus"  interface="popover">
                           <ion-option value="Married">Marrié</ion-option>
                           <ion-option value="Seprated">Divorcé</ion-option>
                           <ion-option value="Divorced">célibataire</ion-option>
                           <!-- <ion-option value="UnMarried">UnMarried</ion-option> -->
                           </ion-select>
                    </ion-item>
                                       
                   <ion-item>
                     <ion-input type="text" [(ngModel)]="HomeTown"  name="HomeTown" placeholder="Lieu de naissance" ></ion-input>
                   </ion-item>
                   
                   <ion-item>                      
                    <ion-input type="text" [(ngModel)]="Area"  name="Area" placeholder="Ville" ></ion-input>
                   </ion-item> 
                                              
                   <ion-item>
                      <ion-textarea [(ngModel)]="PresentResidensialAddress" rows="3" maxLength="500"  placeholder="Addresse actuelle"   ></ion-textarea>
                   </ion-item> 
                                     
  
                  <!-- <ion-item style="background-color: #e4e4e426;">
                                  <ion-label>Select Residential status</ion-label> 
                                  <ion-select [(ngModel)]="MaritalStatus" name="MaritalStatus"  interface="popover">
                                    <ion-option value="Rented">Rented</ion-option>
                                    <ion-option value="Own">Own</ion-option>
                                 </ion-select>
                  </ion-item> -->
  
                  <!-- <ion-item>
                      <ion-textarea [(ngModel)]="RemarkFromNeighbour" rows="3" maxLength="500"  placeholder="Any Remark If Any From Privious Neighbor" ></ion-textarea>
                  </ion-item>  -->
  
                </ion-list>
                 
              </div>
          </ion-card>
     
      </div>
     
  <!-- ///////////////////////////////////// END APPLICANT DETAILS ////////////////////////////////////////      -->
     
  
  
 
  
  
  
  <!-- ///////////////////////////////////// Nominee  DETAILS ////////////////////////////////////////      -->
  
  <div class="card-section bg-light">
      <p class="formlabel">DETAILS DE L'EMPLOI</p>
    <ion-card>
     <div class="form" padding-left padding-right>
              
              <ion-list>
                       
                  <ion-item>
                      <ion-input type="text" [(ngModel)]="NameOfEmployeer"  name="NameOfEmployeer" placeholder="Nom de l'employeur/entreprise" ></ion-input>
                           </ion-item>
                       
                           <ion-item>
                              <ion-textarea [(ngModel)]="ResidensialAddress" rows="3" maxLength="500"  placeholder="Adresse de l'entreprise" ></ion-textarea>
                        </ion-item>
  
                        <ion-item>
                            <ion-input type="text" [(ngModel)]="NatureOfBusiness"  name="NatureOfBusiness" placeholder="Nature de l'emploi" ></ion-input>
                                 </ion-item>

                                         <ion-item>
                                            <ion-input type="text" [(ngModel)]="PositionHeld"  name="PositionHeld" placeholder="Poste" ></ion-input>
                                                 </ion-item>
  
                                                     <ion-item>
                                                            <ion-input type="number" [(ngModel)]="MonthlyIncome"  name="MonthlyIncome" placeholder="Revenu mensuel" ></ion-input>
                                                    </ion-item>
  
                                                                
    
              </ion-list>
        </div>
    </ion-card>
    </div>
    
    <!-- ////////////////////////////////////////////////////// AGRICULTURE YIELD AND PRODUCTIVITY /////////////////////////////////////////// -->
  
    <!-- ///////////////////////////////////// ID  DETAILS ////////////////////////////////////////      -->
  
  <div class="card-section bg-light">
      <p class="formlabel">DETAILS DU PRET</p>
    <ion-card>
     <div class="form" padding-left padding-right>
              
              <ion-list>
                
                           <ion-item>
                              <ion-input type="number" [(ngModel)]="NumberOfCurrentLoan"  name="NumberOfCurrentLoan" placeholder="Nombre actuel de prêt" ></ion-input>
                                   </ion-item>
                                   <ion-item>
                                    <ion-input type="number" [(ngModel)]="MonthlyPayment"  name="MonthlyPayment" placeholder="Paiement mensuel total" ></ion-input>
                                         </ion-item>  
                                         <ion-item>
                                          <ion-input type="text" [(ngModel)]="NameOfBank"  name="NameOfBank" placeholder="Nom de l'institution" ></ion-input>
                                               </ion-item>  
                                   <ion-item>
                                      <ion-textarea [(ngModel)]="ResidensialAddress" rows="3" maxLength="500"  placeholder="balance" ></ion-textarea>
                                </ion-item>
                              
                               
                                        
                                        
  
  
  
  
                  <ion-item style="background-color: #e4e4e426;">
                      <ion-label>Type de prêt</ion-label> 
                      <ion-select [(ngModel)]="MaritalStatus" name="MaritalStatus">
                        <ion-option value="Home loan">Prêt immobilier (durée:24 days:intérêt:20%)</ion-option>
                        <ion-option value="Personal Loan">Prêt personel (durée:24 days:intérêt:15%)</ion-option>
                     </ion-select>
                  </ion-item>
                       
                  <ion-item>
                      <ion-input type="number" [(ngModel)]="AmountRequest"  name="AmountRequest" placeholder="Montant demandé" ></ion-input>
                           </ion-item>
  
                         
                         <ion-item>
                            <ion-input type="text" [(ngModel)]="LoanPurpose"  name="LoanPurpose" placeholder="Raison du prêt" ></ion-input>
                                 </ion-item>
  
                             
                               </ion-list>
                           </div>
                      </ion-card>
                   </div>
    
    <!-- ////////////////////////////////////////////////////// AGRICULTURE YIELD AND PRODUCTIVITY /////////////////////////////////////////// -->
  
  
     
    
    
  
  
   <!-- ///////////////////////////////////// PHOTO UPLOAD ////////////////////////////////////////      -->
  
   <div class="card-section bg-light">
      <p class="formlabel" (click)="takePhoto()" >ID PHOTOS - UPLOAD FROM CAMERA </p>
    <ion-card>
     <div class="form" >
      <ion-row style="color:#ffffff;">
        <ion-col col-lg-4 style="    text-align: center;">
    
          <img class="img" style="max-width: 40%; ;" src="assets/icon/access.png" >
         
            <h5>PIECE</h5>
         
        </ion-col>
        <ion-col col-lg-4 style="    text-align: center;">
          <img class="img" style="max-width: 40%;;" src="assets/icon/Passport.png" >
       
            <h5>PASSPORT</h5>
        
        </ion-col>
        <ion-col col-lg-4 style="    text-align: center;">
          <img  class="img" style="max-width: 40%;;" src="assets/icon/pay.png" >
        
            <h5>FICHE DE PAIE</h5>
       
        </ion-col>
      </ion-row>
      


       <!--  <ion-grid>
            <ion-row>
                <ion-col col-6 *ngFor="let photo of photos; let id = index">
                    <ion-card class="block">
                      <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto(id)"></ion-icon>
                      <img [src]="photo" *ngIf="photo" (click)="Zoom()">
                    </ion-card>
            </ion-col>
            </ion-row>
          </ion-grid> -->
  
        </div>
    </ion-card>

    <div style="margin-top:10px; margin-bottom: 10px;">
      <button  (click)="confirmpayee()" style="padding: 10px;font-size: 16px;width: 100%;color:white;background-color:rgb(0, 0, 0);">
      <ion-icon style="color:white;font-size: 18px;" ></ion-icon>
      SOUMETTRE LA DEMANDE</button>
     
    </div>
    </div>
    







    
    <!-- ////////////////////////////////////////////////////// PHOTO UPLOAD /////////////////////////////////////////// -->  

  
  
  
    


  </div>
