page-active-loan-list {
    .toolbar-title-md {
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 500;
        color: #ffffff;
    }
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: #ffffff;
        background-color: transparent;
    }




    .form {
        padding-top: 2rem;
        margin: auto;
        ion-list {
            margin-bottom: 0px !important;
            ion-item,
            .item-inner {
                padding-left: 0 !important;
                box-shadow: none !important;
                .label {
                    color: #b7b7b7 !important;
                    font-weight: 300;
                    font-size: 1.2rem !important;
                    margin: 8px!important;
                }
                .text-input {
                    margin: 5px 8px !important;
                    font-size: 1.3rem !important;
                    border: none !important;
                    font-weight: 500 !important;
                }
                .text-input-wp {
                    width: 100%;
                    border: none;
                }
            }
            .item-inner {
                border: 1px solid #e4e4e4 !important;
                border-radius: 3px !important;
                padding-left: 16px;
                margin-bottom: 5px;
            }
        }
        p {
            font-size: 1.3rem;
            width: 250px;
            margin: 10px auto;
            margin-bottom: 45px;
            line-height: 1.3;
        }
       
    }







.formlabel
{
    margin-top: 16px;
        padding-bottom: 0px;
        color: white;
        padding-left: 15px;
   
}

.item-md {
    padding-left: 3px;
    padding-right: 0px;
    position: relative;
    font-size: 1.6rem;
    font-weight: normal;
    text-transform: none;
    color: #000;
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.breakstyle
{
    
        border: 1px dotted black;
      
}
.item-md
{
  
        margin-top: 5px;
        margin-bottom: 5px;
        border: 1px;
   
}


.block {
    position: relative
}
    .deleteIcon {
      position: absolute !important;
      color: #ffffff !important;
      margin-left: 80% !important;
    }
    .deleteIcon:before 
    {
      font-size: 30px !important;
    }




    .image-container {
        display: flex;
        justify-content: center;
      }

      .img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 35%;
      }

}
