<ion-header >
  <ion-navbar>
      
     <ion-title style="text-align:center; color:white;">Mon Accès</ion-title>
     <ion-buttons right>
        <button ion-button icon-only (click)="openModal()">
      <ion-icon name="md-power"> </ion-icon> 
        
      </button>
     </ion-buttons> 		
    </ion-navbar>

    
<ion-list padding-left>
    <ion-item padding-left padding-right>
        <!-- <ion-avatar item-start>
            <img src="assets/images/ProfilePic.jpg">
        </ion-avatar> -->
        <h2 style="color: black" class="">Kamon P
            <small class=""> Modifier profil</small>
        </h2>
        <p class="text-dark">+225 02081005
        </p>
    </ion-item>
</ion-list>
<ion-toolbar no-border-top class="tab-bar">
    <ion-segment [(ngModel)]="account">
        <ion-segment-button value="profile">
            Profil
        </ion-segment-button>
        <!-- <ion-segment-button value="KYC">
          KYC
      </ion-segment-button>
        <ion-segment-button value="address">
            My Address
        </ion-segment-button> -->
    </ion-segment>
</ion-toolbar>
</ion-header>

<ion-content>
<div [ngSwitch]="account">
    <div *ngSwitchCase="'profile'" class="profile-section">
        <ion-list no-lines no-border>
            <ion-item>
                <ion-label floating>Nom</ion-label>
                <ion-input type="text" [(ngModel)]="FullName" name= "FullName" value="Mr. Kamon P"></ion-input>
            </ion-item>
           
            <ion-item>
                <ion-label floating>Téléphone</ion-label>
                <ion-input type="text" [(ngModel)]="MobileNo" name= "MobileNo" value="+225 02081005"></ion-input>
            </ion-item>
            <ion-item>
                    <ion-label floating>ID</ion-label>
                    <ion-input type="text" [(ngModel)]="UID" name= "UID" value="IND91-MH34-54321"></ion-input>
                </ion-item>
          
            <ion-item no-lines>
                <ion-label floating>Anniversaire</ion-label>
                <ion-input type="text" value="05 Oct, 1988"></ion-input>
            </ion-item>


            <!-- <ion-item>
              <label class = "toggle">
                <input type = "checkbox" />
                <div class = "track">
                   <div class = "handle"></div>
                </div>
             </label>
            </ion-item> -->
        </ion-list>
    </div>

    <div *ngSwitchCase="'KYC'" class="address-section bg-light" style="background-color: #03afb8">
        <div class="card-section bg-light">
            <!-- ///////////////////////////////// APPLICANT DETAILS ////////////////////////////////////////////// -->
                  <div class="card-section bg-light">
                    <p class="formlabel">CLIENT INFORMATION </p>
                    <ion-card>
                        <div class="form" padding-left padding-right>
                          <ion-list>
            
                             
            
            
                                <ion-item style="background-color: #e4e4e426;">
                                    <ion-label>Title</ion-label> 
                                  <ion-select [(ngModel)]="Title" name="Title"  interface="popover">
                                  <ion-option value="Mr">Mr</ion-option>
                                  <ion-option value="Mrs">Mrs</ion-option>
                                  <ion-option value="Ms">Ms</ion-option>
                                  <ion-option value="Miss">Miss</ion-option>
                                  <ion-option value="Dr">Dr</ion-option>
                                  </ion-select>
                                  </ion-item>
            
            
                                   <ion-item>
                                    <ion-input type="text" [(ngModel)]="FirstName"  name="FirstName" placeholder="First Name" ></ion-input>
                                   </ion-item>
            
                                  
                                     <ion-item>
                                        <ion-input type="text" [(ngModel)]="LastName"  name="LastName" placeholder="Last Name" ></ion-input>
                                       </ion-item>
            
                                      
                            </ion-list>
                        </div>
                    </ion-card>
               
                </div>
               
            <!-- ///////////////////////////////////// CLIENTS INFORMATION ////////////////////////////////////////      -->
               
            
            
            <!-- ///////////////////////////////////// GENERAL INFORMATION ////////////////////////////////////////      -->
            
            <div class="card-section bg-light">
              <p class="formlabel">GENERAL INFORMATION </p>
            <ion-card>
             <div class="form" padding-left padding-right>
                      
                      <ion-list>
                            
            
                             <ion-item>
                                <ion-input type="text" [(ngModel)]="PlaceofBirth"  name="PlaceofBirth" placeholder="Place Of Birth" ></ion-input>
                               </ion-item>
            
                               <ion-item style="background-color: #e4e4e426;">
                                  <ion-label>Marital Status</ion-label> 
                                <ion-select [(ngModel)]="MaritalStatus" name="MaritalStatus"  interface="popover">
                                <ion-option value="Divorced">Divorced</ion-option>
                                <ion-option value="Married">Married</ion-option>
                                <ion-option value="Single">Single</ion-option>
                                <ion-option value="Widower">Widower</ion-option>
                              
                                </ion-select>
                                </ion-item>
            
            
                              
                               
                                  <ion-item>
                                    <ion-input type="text" [(ngModel)]="ReferredBy " name="ReferredBy " placeholder="Referred By " ></ion-input>
                                </ion-item>
            
            
                                <ion-item style="background-color: #e4e4e426;">
                                    <ion-label>Self Employed</ion-label> 
                                  <ion-select [(ngModel)]="SelfEmployeed" name="SelfEmployeed"  interface="popover">
                                  <ion-option value="Yes">Yes</ion-option>
                                  <ion-option value="No">No</ion-option>
                                 
                                  </ion-select>
                                  </ion-item>
            
            
                                  
            
                                 
            
                                  <ion-item style="background-color: #e4e4e426;">
                                    <ion-label>Tax Resident Country</ion-label> 
                                  <ion-select [(ngModel)]="TaxCountry" name="TaxCountry"  interface="popover">
                                  <ion-option value="Yes">Country1</ion-option>
                                  <ion-option value="No">Country2</ion-option>
                                  <ion-option value="No">Country3</ion-option>
                                  <ion-option value="No">Country4</ion-option>
                                  <ion-option value="No">Country5</ion-option>
                                  </ion-select>
                                  </ion-item>
            
                                <ion-item>
                                    <ion-input type="text" [(ngModel)]="InitialFunds " name="InitialFunds" placeholder="Initial Funds" ></ion-input>
                                </ion-item>
                        </ion-list>
                </div>
            </ion-card>
            </div>
            
            <!-- ////////////////////////////////////////////////////// GENERAL INFORMATION /////////////////////////////////////////// -->
            
            
            
            <!-- ///////////////////////////////////// Address Details   ////////////////////////////////////////      -->
            
            <div class="card-section bg-light">
                <p class="formlabel">ADDRESS DETAILS </p>
              <ion-card>
               <div class="form" padding-left padding-right>
                        
                        <ion-list>
                                 
                            <ion-item>
                                <ion-input [(ngModel)]="Address" name="Address" placeholder="Enter Address"></ion-input>
                            </ion-item>
                                 
                                  <ion-item>
                                      <ion-input type="text" [(ngModel)]="City" name="City" placeholder="Enter City"  ></ion-input>
                                  </ion-item>
            
                                  <ion-item>
                                      <ion-input type="number" [(ngModel)]="PostCode" name="PostCode" placeholder="Enter PostCode"  ></ion-input>
                                  </ion-item>
            
                                  <ion-item>
                                    <ion-input type="number" [(ngModel)]="HomePhone" name="HomePhone" placeholder="Enter Home Phone Number"  ></ion-input>
                                </ion-item>
            
                                <ion-item>
                                    <ion-input type="number" [(ngModel)]="MobilePhone" name="MobilePhone" placeholder="Enter Home Phone Number"  ></ion-input>
                                </ion-item>
            
                                <ion-item>
                                    <ion-input [(ngModel)]="EmailAddress" name="EmailAddress" placeholder="Enter Email Address"></ion-input>
                                </ion-item>
              
                        </ion-list>
            
                        <button style="width: 100%" ion-button (click)="savedata()" >SEND KYC DETAILS TO SERVER </button>
                  </div>
            
              
              </ion-card>
            
            
              </div>
              
              <!-- ////////////////////////////////////////////////////// AGRICULTURE YIELD AND PRODUCTIVITY /////////////////////////////////////////// -->
            
             
            
            </div>
    </div>

    <div *ngSwitchCase="'address'" class="address-section bg-light">
        <ion-card>
            <ion-card-content>
                <div class="addres-detail">
                    <h3>
                        <ion-icon name="ios-pin-outline" class="icon-position"></ion-icon>Saurabh P <span>Change<ion-icon name="ios-arrow-forward"></ion-icon></span></h3>
                    <p>wcl colony shakti nagar, chandrapur,<br> MH 442404 IND.</p>
                    <p>+91 70199 22367</p>

                </div>
            </ion-card-content>
        </ion-card>

    </div>
</div>
</ion-content>
