page-about {
    .item-inner {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
        }

    .toolbar-title-md {
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 500;
        color: #ffffff;
    }
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: #ffffff;
        background-color: transparent;
    }
    
    
    .form {
        padding-top: 2rem;
        margin: auto;
        ion-list {
            margin-bottom: 0px !important;
            ion-item,
            .item-inner {
                padding-left: 0 !important;
                box-shadow: none !important;
                .label {
                    color: #b7b7b7 !important;
                    font-weight: 300;
                    font-size: 1.2rem !important;
                    margin: 8px!important;
                }
                .text-input {
                    margin: 5px 8px !important;
                    font-size: 1.3rem !important;
                    border: none !important;
                    font-weight: 500 !important;
                }
                .text-input-wp {
                    width: 100%;
                    border: none;
                }
            }
            .item-inner {
                border: 1px solid #e4e4e4 !important;
                border-radius: 3px !important;
                padding-left: 16px;
                margin-bottom: 5px;
            }
        }
        p {
            font-size: 1.3rem;
            width: 250px;
            margin: 10px auto;
            margin-bottom: 45px;
            line-height: 1.3;
        }
    }
    
        ion-header {
                            .item {
                                        background: transparent !important;
                                        border: none !important;
                                .item-inner {
                                    border: none !important;
                                    ion-label {
                                        margin-right: 0 !important;
                                    }
                    h2 {
                        font-size: 1.5rem;
                        font-weight: 500;
                        padding-top: 2px;
                        color: #fff;
                        display: flex;
                        align-items: center;
                        small {
                            font-weight: 400;
                            margin-left: auto;
                        }
                    }
                    p {
                        font-size: 1.1rem;
                        color: #000;
                        letter-spacing: 1px;
                    }
                }
                ion-avatar {
                    min-width: 60px !important;
                    min-height: 60px !important;
                    img {
                        min-width: 60px !important;
                        min-height: 60px !important;
                    }
                }
            }
            .tab-bar {
                padding: 0 10px !important;
                min-height: 42px;
                .toolbar-background {
                    background: #73AAD1 !important;
                }
                .segment-button {
                    text-transform: none;
                    color: #ffffff;
                    margin-bottom: -0 !important;
                    position: relative;
                    border: none !important;
                    &::after {
                        content: '';
                        display: block;
                        height: 4px;
                        width: 60px;
                        position: absolute;
                        bottom: 0px;
                        margin: auto;
                        left: 0;
                        right: 0;
                    }
                    &.segment-activated {
                        &::after {
                            background: #fff;
                        }
                    }
                }
            }
        }
        ion-content {
            .profile-section {
                padding: 10px;
                .item {
                    padding-right: 16px !important;
                }
                .label {
                    position: relative;
                    margin-bottom: -5px !important;
                    margin-top: 20px !important;
                    text-transform: uppercase;
                    font-size: 1.1rem;
                    font-weight: 500;
                }
                .text-input {
                    font-size: 1.3rem;
                    font-weight: 500;
                    border: none !important;
                }
            }
            .address-section,
            .card-section {
                padding: 2px 0px;
                .card {
                    border-radius: 4px;
                    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
                    ion-card-content {
                        .card-row {
                            display: flex;
                            align-items: center;
                            img {
                                width: 70px;
                                margin-left: auto;
                            }
                        }
                    }
                    p {
                        display: flex;
                        align-items: center;
                        margin: 0 !important;
                        width: 100%;
                        font-size: 1.3rem;
                        color: #7c7c7c;
                        ion-icon {
                            margin-right: 1rem;
                        }
                        span {
                            margin-left: auto;
                            color: #39c526;
                        }
                    }
                    .item-inner {
                        padding-left: 12px !important;
                    }
                    .border-none {
                        .item-inner {
                            border: none !important;
                        }
                    }
                    .date-cvc-row {
                        display: flex;
                        align-items: center;
                        .cvc {
                            width: 170px;
                            margin-left: 5px;
                        }
                        .State {
                            margin-left: 5px;
                        }
                    }
                }
            }
            .address-section {
                .addres-detail {
                    padding-left: 2rem;
                    h3 {
                        font-size: 1.3rem;
                        font-weight: 500;
                        color: #000;
                        display: flex;
                        align-items: center;
                        .icon-position {
                            position: absolute;
                            margin-left: -2rem;
                            margin-top: 1px;
                        }
                        span {
                            margin-left: auto;
                            color: #39c526;
                            .icon {
                                margin-left: 5px;
                                font-size: 1.2rem;
                            }
                        }
                    }
                    p {
                        font-size: 1.1rem;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        color: #000;
                    }
                }
            }
        }
        .toggle-checked .toggle-inner {
            background: #39c526 !important;
        }



















        .form {
            padding-top: 2rem;
            margin: auto;
            ion-list {
                margin-bottom: 0px !important;
                ion-item,
                .item-inner {
                    padding-left: 0 !important;
                    box-shadow: none !important;
                    .label {
                        color: #b7b7b7 !important;
                        font-weight: 300;
                        font-size: 1.2rem !important;
                        margin: 8px!important;
                    }
                    .text-input {
                        margin: 5px 8px !important;
                        font-size: 1.3rem !important;
                        border: none !important;
                        font-weight: 500 !important;
                    }
                    .text-input-wp {
                        width: 100%;
                        border: none;
                    }
                }
                .item-inner {
                    border: 1px solid #e4e4e4 !important;
                    border-radius: 3px !important;
                    padding-left: 16px;
                    margin-bottom: 5px;
                }
            }
            p {
                font-size: 1.3rem;
                width: 250px;
                margin: 10px auto;
                margin-bottom: 45px;
                line-height: 1.3;
            }
           
        }
    
    
    
    
    
    
    
    .formlabel
    {
        margin-top: 16px;
            padding-bottom: 0px;
            color: white;
            padding-left: 15px;
       
    }
    
    .item-md {
        padding-left: 3px;
        padding-right: 0px;
        position: relative;
        font-size: 1.6rem;
        font-weight: normal;
        text-transform: none;
        color: #000;
        background-color: #fff;
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
        transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    .breakstyle
    {
        
            border: 1px dotted black;
          
    }
    .item-md
    {
      
            margin-top: 5px;
            margin-bottom: 5px;
            border: 1px;
       
    }
    
    
    .block {
        position: relative
    }
        .deleteIcon {
          position: absolute !important;
          color: #ffffff !important;
          margin-left: 80% !important;
        }
        .deleteIcon:before 
        {
          font-size: 30px !important;
        }
        
      
        .button-md {
           
            background-color: #73AAD1;
        }
    
}
