<ion-content>
  <ion-content class="home-bg">
      <!-- <div class="bg-white" style="background: url(assets/images/Bg.jpg); background-size: cover;
      background-size: 100%; "> -->
      <div class="bg-white">
        <ion-grid>
          <ion-row>
              <ion-col col-12 text-center>
                  <img src="assets/images/fidra.png" alt="logo" style="width: 55%; margin-top: 1% !important;" class="logo">
              </ion-col>
          </ion-row>
         
      </ion-grid>
  </div>
      
<div style="padding: 5px;" class="bg-white">
    <div [ngSwitch]="sign">
         <ion-list *ngSwitchCase="'signin'">
            <ion-grid col-11 col-sm-10 style="padding: 2rem 0;">
                <ion-row>
                    <ion-col class="form-theme">
                      <ion-input type="number" [(ngModel)]="Mobile" name= "Mobile"  placeholder="No. Téléphone" class="input"></ion-input>
                      <ion-input type="password" [(ngModel)]="Password" name="Password" placeholder="Password" class="input">
                             <ion-icon name="eye" item-right (click)="showHide()"></ion-icon> 
                        </ion-input>

                    
                <ion-col col-12>
                    <button ion-button color="danger" block class="btn-theme-big-red" (click)="Login()" style="background-color: #73AAD1 !important;">Se connecter</button>
                </ion-col>
             
                    </ion-col>
                </ion-row>

                <ion-grid col-11 col-sm-10>
                  <ion-row>
                      <ion-col col-12 text-center>
                        <img src="assets/images/fingerprint.png" style="height: 50px; width: 50px;" (click)="showAlert()"/>
                      </ion-col>
                  </ion-row>
                 
              </ion-grid>
                      
                      <!-- <p (click)="ForgetPassword()" style="text-align:center">Forget Password</p> -->
            </ion-grid>
        </ion-list>
              
          </div>
      </div>

   
  </ion-content>
</ion-content>

<!-- <ion-footer style="    color: black;background-color: #f9f9f9;text-align: center;padding: 6px;">Developed by Digital Afrique Telecom</ion-footer> -->
<ion-footer style="color: black;background-color: #73AAD1;text-align: center;padding: 0px;">
  <!-- Developed by Digital Afrique Telecom -->
  <ion-row style="    color:#ffffff">
      <ion-col col-lg-4 style="    text-align: center; padding-left: 0; padding-right: 0; padding-bottom: 0;">
        <!-- <img style="max-width: 30%;;" src="assets/icon/ActiveLoan.png" > -->
        <ion-icon name="ios-home-outline" style="font-size: 40px;" (click)="Beneficiary()">
          <h5 style="font-size: 12px;margin-top: 1px;">Nos agences</h5>
        </ion-icon>
      </ion-col>
      <ion-col col-lg-4 style="    text-align: center;padding-left: 0; padding-right: 0; padding-bottom: 0;">
        <!-- <img style="max-width: 30%;;" src="assets/icon/Investment.png" (click)="Investment()"> -->
        <ion-icon name="ios-information-circle-outline" style="font-size: 40px;">
          <h5 style="font-size: 12px;margin-top: 1px;">Produits et Services</h5>
        </ion-icon>
      </ion-col>
      <ion-col col-lg-4 style="    text-align: center;padding-left: 0; padding-right: 0; padding-bottom: 0;">
        <!-- <img style="max-width: 30%;;" src="assets/icon/Contact.png"> -->
        <ion-icon name="ios-call-outline" style="font-size: 40px;" >
          <h5 style="font-size: 12px;margin-top: 1px;">Nous contacter</h5>
        </ion-icon>
      </ion-col>
    </ion-row>
</ion-footer>
