<ion-tabs style="    background-color: seashell;">
  <ion-tab [root]="tab1Root" tabTitle="Accueil" tabIcon="ios-home-outline"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Mon Accès" tabIcon="ios-body-outline"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Nous Contacter" tabIcon="ios-contacts-outline"></ion-tab>
</ion-tabs>
