<ion-header>

  <ion-navbar>
    <ion-title style="text-align:center">Transfert</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="openModal()">
    <ion-icon name="md-power"> </ion-icon> 
      
    </button>
   </ion-buttons> 		
  </ion-navbar>
</ion-header>


<ion-content padding>

    <ion-grid col-11 col-sm-10 style="margin-top:-20px;">
        <ion-row>
            <ion-col col-12 text-center>
                <img src="assets/images/fidra.png" alt="logo" style="width: 70%" class="logo">
            </ion-col>
        </ion-row>
       
      </ion-grid>
      
 
    <div class="form">
       <ion-list >
        <ion-item style="background-color: #e4e4e426;">
          <ion-label>Selectionner Compte</ion-label>
          <ion-select  #newSelect [(ngModel)]="Srno">
            <ion-option class="mystyle" *ngFor="let image of bankaccount" [value]="Srno">{{image.AccountNo}}</ion-option>
       
          </ion-select>
        </ion-item>
      </ion-list> 

     <!--  <ion-list>
    
          <ion-item style="background-color: #e4e4e426;">
            <ion-label fixed>Account No</ion-label>
            <ion-input type="text" value="this.accountnofromdata"></ion-input>
          </ion-item>
    </ion-list> -->

      <ion-list>
        <ion-item style="background-color: #e4e4e426;">
              <ion-label>Type de Beneficiaire</ion-label>
              <ion-select #newSelect [(ngModel)]="BeneficiaryId">
              <ion-option *ngFor="let image of ActiveBenificaryData" [value]="image.BeneficiaryId">{{image.BeneficiaryName}}</ion-option>
              </ion-select>
        </ion-item>
      </ion-list>



    
      

 

      <ion-list>
    
        <ion-item style="background-color: #e4e4e426;">
          <ion-label fixed>Beneficiaire </ion-label>
          <ion-input style="text-align:right;" type="text" [(ngModel)]="Beneficiary" name="BeneficiaryId"  value=""></ion-input>
        </ion-item>
  </ion-list>
<ion-list>
    
      <ion-item style="background-color: #e4e4e426;">
        <ion-label fixed>Montant</ion-label>
        <ion-input style="text-align:right;" type="text" [(ngModel)]="Amount" name="Amount"  value=""></ion-input>
      </ion-item>
</ion-list>
<ion-list>
      <ion-item style="background-color: #e4e4e426;">
          <ion-label fixed>Note :</ion-label>
          <ion-input type="text" [(ngModel)]="transcationnote" name="transcationnote" value=""></ion-input>
        </ion-item>
    </ion-list>

</div>
  
    <button ion-button full style="background-color: #73AAD1;" (click)="OTP()">TRANSFERER</button>
</ion-content>
