page-payments {
    .mystyle{
    
        text-align: center !important;
        text-align: start;
        padding: 24px 24px 20px;
    }

    .toolbar-title-md {
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 500;
        color: #ffffff;
    }
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: #ffffff;
        background-color: transparent;
    }

   
   
    .item-md.item-block .item-inner {
        padding-right: 8px;
        border-bottom: none;
          }

          .list-md .item-input:last-child {
            border-bottom: none;
        }


        .form {
            padding-top: 2rem;
            margin: auto;
            ion-list {
                margin-bottom: 0px !important;
                ion-item,
                .item-inner {
                    padding-left: 0 !important;
                    box-shadow: none !important;
                    .label {
                        color: #b7b7b7 !important;
                        font-weight: 300;
                        font-size: 1.2rem !important;
                        margin: 8px!important;
                    }
                    .text-input {
                        margin: 5px 8px !important;
                        font-size: 1.3rem !important;
                        border: none !important;
                        font-weight: 500 !important;
                    }
                    .text-input-wp {
                        width: 100%;
                        border: none;
                    }
                }
                .item-inner {
                    border: 1px solid #e4e4e4 !important;
                    border-radius: 3px !important;
                    padding-left: 16px;
                    margin-bottom: 5px;
                }
            }
            p {
                font-size: 1.3rem;
                width: 250px;
                margin: 10px auto;
                margin-bottom: 45px;
                line-height: 1.3;
            }
        }

        ion-content {
            .profile-section {
                padding: 10px;
                .item {
                    padding-right: 16px !important;
                }
                .label {
                    position: relative;
                    margin-bottom: -5px !important;
                    margin-top: 20px !important;
                    text-transform: uppercase;
                    font-size: 1.1rem;
                    font-weight: 500;
                }
                .text-input {
                    font-size: 1.3rem;
                    font-weight: 500;
                    border: none !important;
                }
            }
            .address-section,
            .card-section {
                padding: 2px 0px;
                .card {
                    border-radius: 4px;
                    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
                    ion-card-content {
                        .card-row {
                            display: flex;
                            align-items: center;
                            img {
                                width: 70px;
                                margin-left: auto;
                            }
                        }
                    }
                    p {
                        display: flex;
                        align-items: center;
                        margin: 0 !important;
                        width: 100%;
                        font-size: 1.3rem;
                        color: #7c7c7c;
                        ion-icon {
                            margin-right: 1rem;
                        }
                        span {
                            margin-left: auto;
                            color: #39c526;
                        }
                    }
                    .item-inner {
                        padding-left: 12px !important;
                    }
                    .border-none {
                        .item-inner {
                            border: none !important;
                        }
                    }
                    .date-cvc-row {
                        display: flex;
                        align-items: center;
                        .cvc {
                            width: 170px;
                            margin-left: 5px;
                        }
                        .State {
                            margin-left: 5px;
                        }
                    }
                }
            }
            .address-section {
                .addres-detail {
                    padding-left: 2rem;
                    h3 {
                        font-size: 1.3rem;
                        font-weight: 500;
                        color: #000;
                        display: flex;
                        align-items: center;
                        .icon-position {
                            position: absolute;
                            margin-left: -2rem;
                            margin-top: 1px;
                        }
                        span {
                            margin-left: auto;
                            color: #39c526;
                            .icon {
                                margin-left: 5px;
                                font-size: 1.2rem;
                            }
                        }
                    }
                    p {
                        font-size: 1.1rem;
                        padding-top: 5px;
                        padding-bottom: 5px;
                        color: #000;
                    }
                }
            }
        }

        .alert-md .alert-head {
          
            text-align: center !important;
            text-align: start;
            padding: 13px 13px 13px;
           
        }
}
