<ion-header no-border><ion-navbar no-lines no-border>
  <ion-title style="text-align:center">Mes Comptes</ion-title>
  <ion-buttons right>
    <button ion-button icon-only (click)="openModal()">
  <ion-icon name="md-power"> </ion-icon> 
  </button>
 </ion-buttons> 		
</ion-navbar>

<ion-row no-border no-lines style="background-color: rgb(148, 182, 206);text-align: center;padding: 1px;">
  <ion-col col-lg-3 style="text-align: center;background: #73AAD1;color: #ffffff;">
    <img style="max-width: 30%;color: rgb(23, 78, 122)!important;" src="assets/icon/wallet.png" >
  <!--   <ion-icon name="ios-chatbubbles" style="font-size: 55px;" (click)="Beneficiary()"> -->
      <!-- <h5 text-center style="font-size: 10px;margin-top: 1px;text-align: center;">Comptes</h5> -->
  <!--   </ion-icon> -->
  </ion-col>
  <ion-col col-lg-3 style="    text-align: center;background: transparent;" (click)="demandes()">
    <img style="max-width: 30%;;" src="assets/icon/OtherPayment.png">
    <!-- <ion-icon name="ios-list-outline" style="font-size: 55px;"> -->
      <!-- <h5 style="font-size: 10px;margin-top: 1px;">demandes</h5> -->
    <!-- </ion-icon> -->
  </ion-col>
  <ion-col col-lg-3 style="    text-align: center;background: transparent;" (click)="produits()">
    <img style="max-width: 30%;;" src="assets/icon/card96.png">
  <!--   <ion-icon name="ios-list-outline" style="font-size: 55px;" > -->
      <!-- <h5 style="font-size: 10px;margin-top: 1px;">produits</h5> -->
 <!--    </ion-icon> -->
  </ion-col>
  <ion-col col-lg-3 style="    text-align: center;background: transparent;" (click)="factures()">
    <img style="max-width: 30%;;" src="assets/icon/cart100.png">
  <!--   <ion-icon name="ios-list-outline" style="font-size: 55px;" > -->
      <!-- <h5 style="font-size: 10px;margin-top: 1px;">factures</h5> -->
 <!--    </ion-icon> -->
  </ion-col>
</ion-row>

</ion-header>



<ion-content>

<!--  <ion-list>
  <ion-item text-wrap style="background-color: rgba(158, 158, 158, 0.1);">
    <h3>ACCOUNT NO: LT100001278797</h3>
    <h3>BALANCE: $ 1500</h3>
    <h3>ACCOUNT TYPE: BUSINESS ACCOUNT</h3>
    <h3 style="padding-top: 3px;">ACCOUNT OPEN DATE: 27/01/2020</h3>
    <button ion-button clear item-end (click)="ViewStatement(data.AccountNo)">View</button>
  </ion-item>
</ion-list>

<ion-list>
  <ion-item text-wrap style="background-color: rgba(158, 158, 158, 0.1);">
    <h3>ACCOUNT NO: LT100001278797</h3>
    <h3>BALANCE: $ 1500</h3>
    <h3>ACCOUNT TYPE: BUSINESS ACCOUNT</h3>
    <h3 style="padding-top: 3px;">ACCOUNT OPEN DATE: 27/01/2020</h3>
    <button ion-button clear item-end (click)="ViewStatement(data.AccountNo)">View</button>
  </ion-item>
</ion-list>

<ion-list>
  <ion-item text-wrap style="background-color: rgba(158, 158, 158, 0.1);">
    <h3>ACCOUNT NO: LT100001278797</h3>
    <h3>BALANCE: $ 1500</h3>
    <h3>ACCOUNT TYPE: BUSINESS ACCOUNT</h3>
    <h3 style="padding-top: 3px;">ACCOUNT OPEN DATE: 27/01/2020</h3>
    <button ion-button clear item-end (click)="ViewStatement(data.AccountNo)">View</button>
  </ion-item>
</ion-list>
-->

<!-- <div  style="text-align: center; padding:0; ">
  <h3 style=" PADDING: 10px; color: white; background-color: #07adb6de; font-size: 12px;margin-top: 0px;">ACCOUNT SUMMARY</h3>
</div> -->
   
   
<!--  

  <ion-item-group>       
      <ion-item style="color: #191970;"><ion-icon name="ios-book-outline" item-start></ion-icon>Type de Compte: <p>BUSINESS ACCOUNT</p></ion-item>
      <ion-item style="color: #191970;"><ion-icon name="ios-list-outline" item-start></ion-icon>No Compte:<p>LT100001278797</p></ion-item>
      <ion-item style="color: #191970;"><ion-icon name="ios-infinite-outline" item-start></ion-icon>Solde du Compte:<p>CFA 1500</p></ion-item>
      <ion-item style="color: #191970;"><ion-icon name="ios-keypad-outline" item-start></ion-icon>Account Open Date :<p>27/01/2020</p></ion-item>
  </ion-item-group> -->




   

    <div>
        <!-- <button (click)="ViewStatement(this.accountno)" style="padding: 10px;font-size: 12px; border-radius: 0px 0px 0px 0px; width: 100%;color:white;background-color:#73AAD1;">

            Account Statement - Last 5 Transcations</button> -->
        <!-- <button (click)="SignUp()" style="padding: 10px;font-size: 12px;width: 49%; border-radius: 0px 0px 0px 0px; color:white;background-color:#e91e63;">

            Sign Up</button> -->


            <!-- <div class="row header scrollmenu">
              <div class="col"><h5>BALANCE</h5></div>
             
               <div class="col"><h5>CR</h5></div>
               <div class="col"><h5>DR</h5></div>
               <div class="col"><h5>DATE</h5></div>
             </div>
             <div class="row" *ngFor="let data of AccountStatementdata" >
             <div class="col"><h5>{{data.Balance}}</h5></div>
               <div class="col"><h5>{{data.Deposit}}</h5></div>
               <div class="col"><h5>{{data.Withdraw}}</h5></div>
               <div class="col"><h5>{{data.Transactiondate}}</h5></div>
             </div>  -->


             <div class="row header scrollmenu">
              <!--  <div class="col">ID</div> -->
               <div class="col" style="max-width: 40%;"><p style="font-weight: 900; font-size: 15px; margin-bottom: 2%;">COMPTES</p></div>
               <div class="col" ><p style="text-align: right; font-weight: 900; font-size: 15px; margin-bottom: 2%;">SOLDE au 20/07/2020</p></div>
             </div>
             <div class="row" >
               <!--   <div class="col">{{data.BeneficiaryCustomerId}}</div> -->
               <div class="col" style="font-style: italic; font-size: 13px; font-weight: 600; color: rgb(100, 100, 100);"><h5 style="color: #191970;;">Compte courant</h5> <p style="margin-top: 3%;"> No. 124885482 </p> </div>
               <div text-right class="col"><p style="margin-top: 5%;font-weight: 900; font-size: 13px;"> 1 358 500 FCFA</p></div>
             </div> 

             <div class="row" >
              <!--   <div class="col">{{data.BeneficiaryCustomerId}}</div> -->
              <div class="col" style="font-style: italic; font-size: 13px; font-weight: 600; color: rgb(100, 100, 100);"><h5 style="color: #191970;;">Compte épargne</h5> <p style="margin-top: 3%;"> No. 5754885482 </p> </div>
              <div text-right class="col"><p style="margin-top: 5%;font-weight: 900; font-size: 13px;"> 2 600 500 FCFA</p></div>
            </div> 

</div> 






<!--  <ion-grid>
    <ion-row >
      <ion-col width-25> <img src="assets/imgs/mastercard.png"></ion-col>
      <ion-col width-25> <img src="assets/imgs/visa-pay-logo.png"></ion-col>
      <ion-col width-25> <img src="assets/imgs/stripe-pay-card-logo.png"></ion-col>
      <ion-col width-25> <img src="assets/imgs/paypal-logo-in-rectangular-black-card.png"> </ion-col>
    </ion-row>
</ion-grid> -->

<div style="padding-left: 16px; padding-right: 16px; padding-top: 16px; margin-top: 10%;">
  <button ion-button color="danger" block class="btn-theme-big-red" (click)="account()" style="background-color: #73AAD1 !important;">Relevé de compte</button>
</div>

<div style="padding-left: 16px; padding-right: 16px; padding-top: 16px;">
  <button ion-button color="danger" block class="btn-theme-big-red" (click)="transfert()" style="background-color: #73AAD1 !important;">Transférer</button>
</div>

  <div>
      <ion-slides *ngIf="PromoBanner && PromoBanner.length" pager="true" autoplay="5000"  loop="true" speed="3000">
          <ion-slide *ngFor="let slide of PromoBanner">
            <img [src]="slide.BannerImage">
          </ion-slide>
        </ion-slides>
  </div>

</ion-content>
