page-account-list {
    .toolbar-title-md {
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 500;
        color: #ffffff;
    }
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: #ffffff;
        background-color: transparent;
    }

    .col{
        background: white;
        border: think solid black;
        border-color: black;
        border-width: 2px;
        }
.h5
{
    font-size: 2px;
}



        .header .col {
            background-color:rgb(230, 230, 230);
        }
        
  /*       .col {
            border: solid 0.5px grey;
            border-bottom-style: none;
            border-right-style: none;
        }
        
        .col:last-child {
            border-right: solid 1px grey;
        }
        
        .row:last-child .col {
            border-bottom: solid 1px grey;
        }
     .scroll-content {
            padding: 3px;
        } */


        h5 {
            display: table-cell;
            vertical-align: middle;
            text-align: right !important;
            font-size: 13px !important;
            margin-top: 15px;
            font-weight: 600;

        }


      
        .col {
            // border: solid 1px grey;
            border-bottom: solid 1px grey;
            border-right-style: none;
        }
        
        .col:last-child {
            // border-right: solid 1px grey;
        }
        
        .row:last-child .col {
            border-bottom: solid 2px grey;
        }
        .row:first-child .col {
            border-bottom: solid 2px grey;
        }
    
        
}
