<ion-header>

  <ion-navbar>
    <ion-title style="text-align:center">Fixed Deposite</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="openModal()">
    <ion-icon name="md-power"> </ion-icon> 
      
    </button>
   </ion-buttons> 		
  </ion-navbar>
</ion-header>


<ion-content class="img" style="background-image: url(img/FDcertificateb.png);
background-size: 100% 100%;">
  <div style="width:100%; height:100%; padding:10px;  border: 3px solid #787878">
    <div style="width:100%; height:100%; padding:15px; border: 3px solid #787878">
           <h3 style="text-align:center;">Certificate of Deposite</h3>
           <br>
           <span style="font-size:15px;text-align:center;"><i>This is to certify that Mr./Ms./</i></span>
           <br><br/>
           <span style="font-size:30px">Saurabh P</span><br/><br/>
           <div>Account opened on date 27/01/2020 and mature on date 27/01/2021 with Intrested added € 6500</div><br/>
           <span><i>FD Account No : 100015786989</i></span> <br/><br/>
         
          
           <br>

          <div>
              Customer Signature
                  <div style="float:right;">
                      Manager Signature
                  </div>
              
          
          </div>

          <div style="    padding-top: 21px;">
              ______________________
                  <div style="float:right;">
                      ___________________
                  </div>
              
          
          </div>
<br/><br/><br/><br/><br/>
          <div>
              <h5>Eco Money Bank
                  <div style="float:right;vertical-align:middle;">
            <!--   <img src="https://i.imgur.com/NN9t7UH.png" style="vertical-align:middle; text-align:right">
              <img style="vertical-align:middle; text-align:right" src="https://i.imgur.com/bma7TBS.png" alt="mastercard">
             -->
                  </div>
                </h5>
          
          </div>
    </div>
    </div>
</ion-content>
