
<ion-header><ion-navbar>
  <ion-title style="text-align:center">Legal Terms</ion-title>
  <ion-buttons right>
    <button ion-button icon-only (click)="openModal()">
  <ion-icon name="md-power"> </ion-icon> 
  </button>
 </ion-buttons> 		
</ion-navbar>
</ion-header>

<ion-content class="bg-light">
  
  <ion-card>
      <ion-card-header>
        The Rules That Users Must Follow
          <ion-icon name="ios-arrow-forward-outline" float-right></ion-icon>
      </ion-card-header>
      <ion-card-content class="text-light">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      </ion-card-content>
  </ion-card>

  <ion-card>
      <ion-card-header>
        Online Services Agreement
          <ion-icon name="ios-arrow-forward-outline" float-right></ion-icon>
      </ion-card-header>
      <ion-card-content class="text-light">
        The Terms and Agreement Govern the Use Of This Website, and the Services Provided There in, To Include Mobile Application. 
        Please Read Them Carefully Before APPS. If You Do Not Access The Website Or Use The MObile APPS. 
        By Accessing the Website Or Use The Mobile Or The Mobile APPS. You Agree To Be Bound By These Terms Of Use And Agreement.</ion-card-content>
  </ion-card>

  <ion-card>
      <ion-card-header>
        Online Banking and Bill Pay Services
          <ion-icon name="ios-arrow-forward-outline" float-right></ion-icon>
      </ion-card-header>
      <ion-card-content class="text-light">
        This Agreement describes your rights and obligations as a user of the Online Banking service or the Bill Payment service ("Services"). It also describes the rights and obligations of ECO Bank. Please read this Agreement carefully. By requesting and using one of these Services, you agree to comply with the terms and conditions of this Agreement.
      </ion-card-content>
  </ion-card>

  <ion-card>
      <ion-card-header>
        Password and Security
          <ion-icon name="ios-arrow-forward-outline" float-right></ion-icon>
      </ion-card-header>
      <ion-card-content class="text-light">
        You agree not to give or make available your password or other means to access your account to any unauthorized individuals. You are responsible for all payments you authorize using the Service. If you permit other persons to use the Service or your password or other means to access your account, you are responsible for any transactions they authorize. If you believe that your passwords or other mean to access your account has been lost or stolen or that someone may attempt to use the Service without your consent or has transferred money without your permission, you must notify the Service at once.
      </ion-card-content>
  </ion-card>

  <ion-card>
      <ion-card-header>
        Payment Authorization And Payment Remitance
          <ion-icon name="ios-arrow-forward-outline" float-right></ion-icon>
      </ion-card-header>
      <ion-card-content class="text-light">
        By providing the Service with names and account information of Payees to whom you wish to direct payments, you authorize the Service to follow the Payment instructions that it receives through the payment system. In order to process payment more efficiently and effectively, the Service may edit or alter payment data or data formats in accordance with Payee directives.

        When the Service receives a Payment Instruction, you authorize the Service to debit your Payment Account and remit funds on your behalf so that the funds arrive as close as reasonably possible to the Scheduled Payment Date designated by you. You also authorized the Service to credit your Payment Account for payments returned to the Service by the United States Postal Service or Payee, or payments remitted to you on behalf of another authorized user of the Service.
      </ion-card-content>
  </ion-card>
</ion-content>

