page-legal-terms {
    .toolbar-title-md {
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 500;
        color: #ffffff;
    }
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: #ffffff;
        background-color: transparent;
    }

    .toolbar-title-md {
        span {
            top: 0px;
        }
    }
    h6 {
        font-size: 1.4rem;
        font-weight: 400;
        margin-bottom: 20px;
        margin-top: 20px;
        color: #444;
    }
    .searchbar {
        padding: 8px;
        border-bottom: none !important;
        background: none !important;
        .searchbar-input {
            border-radius: 5px !important;
            font-size: 1.4rem;
            font-weight: 300;
            line-height: 2.8rem;
            padding: 6px 43px;
            box-shadow: none !important;
        }
        .searchbar-input-container {
            border: none !important;
        }
        .searchbar-search-icon {
            left: 10px;
            top: 10px;
        }
        .searchbar-input {
            height: 3.7rem !important;
        }
    }
    .list {
        margin: 0 !important;
    }
    .card {
        border-radius: 5px !important;
        box-shadow: 0px 1px 3px rgba(10, 10, 10, 0.2);
        .card-header {
            font-size: 1.3rem;
            color: #000;
            padding: 16px;
            font-weight: 500;
            padding-bottom: 8px;
            ion-icon {
                font-size: 1.1em;
                color: #4c4c4c;
            }
        }
        .card-content {
            font-size: 1.1rem;
            font-weight: 300;
            &.text-light {
                color: #858585 !important;
            }
        }
    }
}
