page-other-transfer {
    .toolbar-title-md {
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 500;
        color: #ffffff;
    }
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: #ffffff;
        background-color: transparent;
    }

   
   
    .item-md.item-block .item-inner {
        padding-right: 8px;
        border-bottom: none;
          }

          .list-md .item-input:last-child {
            border-bottom: none;
        }






        .form {
            padding-top: 2rem;
            margin: auto;
            ion-list {
                margin-bottom: 0px !important;
                ion-item,
                .item-inner {
                    padding-left: 0 !important;
                    box-shadow: none !important;
                    .label {
                        color: #b7b7b7 !important;
                        font-weight: 300;
                        font-size: 1.2rem !important;
                        margin: 8px!important;
                    }
                    .text-input {
                        margin: 5px 8px !important;
                        font-size: 1.3rem !important;
                        border: none !important;
                        font-weight: 500 !important;
                    }
                    .text-input-wp {
                        width: 100%;
                        border: none;
                    }
                }
                .item-inner {
                    border: 1px solid #e4e4e4 !important;
                    border-radius: 3px !important;
                    padding-left: 16px;
                    margin-bottom: 5px;
                }
            }
            p {
                font-size: 1.3rem;
                width: 250px;
                margin: 10px auto;
                margin-bottom: 45px;
                line-height: 1.3;
            }
        }
}
