<ion-header>
  <ion-navbar>
    <ion-title style="text-align:center">InterNational Transfer</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="openModal()">
    <ion-icon name="md-power"> </ion-icon> 
    </button>
   </ion-buttons> 		
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-grid col-11 col-sm-10 style="margin-top:-20px;">
    <ion-row>
        <ion-col col-12 text-center>
            <img src="assets/images/FundTransferBg.jpg" alt="logo"  class="logo">
        </ion-col>
    </ion-row>
   
  </ion-grid>




  <div class="form">
    <ion-list >
     <ion-item style="background-color: #e4e4e426;">
       <ion-label>Select Account</ion-label>
       <ion-select  #newSelect [(ngModel)]="Srno" (ionChange)="optionsAc(Srno);" >
         <ion-option class="mystyle" *ngFor="let image of bankaccount" [value]="Srno">{{image.AccountNo}}</ion-option>
    
       </ion-select>
     </ion-item>
   </ion-list> 

  <!--  <ion-list>
 
       <ion-item style="background-color: #e4e4e426;">
         <ion-label fixed>Account No</ion-label>
         <ion-input type="text" value="this.accountnofromdata"></ion-input>
       </ion-item>
 </ion-list> -->

   <ion-list>
     <ion-item style="background-color: #e4e4e426;">
           <ion-label>Select Currency</ion-label>
           <ion-select #newSelect [(ngModel)]="Srno" (ionChange)="optionsFn(Srno);">
           <ion-option *ngFor="let image of Currency" [value]="image.Srno">{{image.Currency}}</ion-option>
           </ion-select>
     </ion-item>
   </ion-list>



 
   




<ion-list>
  <ion-item style="background-color: #e4e4e426;">
    <ion-label fixed>Receiver Name</ion-label>
    <ion-input style="text-align:right;" type="text" [(ngModel)]="Receiver" name="Receiver"  value=""></ion-input>
  </ion-item>

  <ion-item style="background-color: #e4e4e426;">
    <ion-label fixed>SWIFT/BIC</ion-label>
    <ion-input style="text-align:right;" type="text" [(ngModel)]="SWIFT" name="SWIFT"  value=""></ion-input>
  </ion-item>


   <ion-item style="background-color: #e4e4e426;">
     <ion-label fixed>Amount</ion-label>
     <ion-input style="text-align:right;" type="number" [(ngModel)]="Amount" name="Amount"  value=""></ion-input>
   </ion-item>
</ion-list>
<ion-list>
   <ion-item style="background-color: #e4e4e426;">
       <ion-label fixed>Note :</ion-label>
       <ion-input type="text" [(ngModel)]="transcationnote" name="transcationnote" value=""></ion-input>
     </ion-item>
 </ion-list>

</div>







<!-- <button ion-button full (click)="confirntransfer()">Pay Now</button> -->

<button (click)="confirntransfer()" style="padding: 10px;font-size: 12px; border-radius: 0px 0px 0px 0px; width: 100%;color:white;background-color:#03afb8;">
  
  Pay Now</button>
</ion-content>
