<ion-header>

  <ion-navbar>
    <ion-title style="text-align:center">Manage Payee</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="openModal()">
    <ion-icon name="md-power"> </ion-icon> 
      
    </button>
   </ion-buttons> 		
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    
    <ion-row style="color:#747474;">
      <ion-col col-lg-4 style="    text-align: center;">
        <ion-icon name="ios-people-outline" style="font-size: 60px;" (click)="AddPayee()">
          <h5>Add Payee</h5>
        </ion-icon>
      </ion-col>
      <ion-col col-lg-4 style="    text-align: center;">
        <ion-icon name="ios-list-outline" style="font-size: 60px;" (click)="PayeeList()" >
          <h5>Payee List</h5>
        </ion-icon>
      </ion-col>
      <ion-col col-lg-4 style="    text-align: center;">
       
      </ion-col>  
        
    </ion-row>
  </ion-grid> 
        
        
</ion-content>
