<ion-header>

  <ion-navbar>
    <ion-title>OTP</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding style="text-align:center;margin-top: 13%;" class="no-scroll">
  <div style="text-align:center;    margin-top: 20px;">
      <img src="assets/images/fidra.png" style="height: 120px;"/>
      </div>
<div style="text-align:center;     padding: 10px;">
<h6 style="    margin-top: 25px;">Please Check Your Phone For OTP.</h6>

<div style="    background-color: white;padding:10px;">

<p>You Required OTP To Confirm This Transfer <br/>{{mobile}}</p>
</div>
<div>
<table align="center"> 
<tr>
  <td>
    <ion-input type="text" #otp1 class="otp" pattern="[0-9]{6}" maxlength="1" size="1" name="char1" [(ngModel)]="char1" (keyup)="next(otp2)">
    </ion-input>
  </td>
  <td>
    <ion-input type="text" #otp2 class="otp" pattern="[0-9]{6}" maxlength="1" size="1" name="char2" [(ngModel)]="char2" (keyup)="next(otp3)">
    </ion-input>
  </td>
  <td>
    <ion-input type="text" #otp3 class="otp" pattern="[0-9]{6}" maxlength="1" size="1" name="char3" [(ngModel)]="char3" (keyup)="next(otp4)">
    </ion-input>
  </td>
  <td>
    <ion-input type="text" #otp4 class="otp" pattern="[0-9]{6}" maxlength="1" size="1" name="char4" [(ngModel)]="char4">
    </ion-input>
  </td>
</tr>
</table>
</div>
<br/>
<div style="margin-top:20px;">
  <button (click)="HomePage()" style="padding: 10px;font-size: 16px;width: 100%;color:white;background-color:#488aff;">Verify OTP</button>
  </div>

<p>Didn't receive the OTP?</p>


</div>


</ion-content>
