page-create-mpin {
    .toolbar-title-md {
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 500;
        color: #ffffff;
    }
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: #ffffff;
        background-color: transparent;
    }
    
    .toolbar-background{
      background: transparent !important;
  }
        .otp {
            color: darkgray;
            border-style: none;
            width: 45px;
            height: 45px;
            font-size: 30px;
          }
          
          td {
            border: 1px solid #072d65;
           // border-bottom: 1px solid #072d65;
            
          }
          
          table {
            border-collapse: collapse;
          }
          .text-input-md {
            margin: 0px 0px;
            padding: 0;
            width: calc(100% - 8px - 11px);
        }
    
        .no-scroll .scroll-content{
            overflow: hidden;
          }
}
