
<ion-header no-border>

  <ion-navbar>
    <ion-title style="text-align: center;"> </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding style="text-align:center;margin-top: 1%;" class="no-scroll">
  <div style="text-align:center;    margin-top: 20px;">
      <img src="assets/images/fidra.png" style="width: 60%;"/>
      </div>
<div style="text-align:center;     padding: 10px;">
<!-- <h6 style="    margin-top: 25px;">Create MPIN For Login.</h6> -->

<div style="    background-color: white;padding:10px;">

<p>Code d'activation. <br/>{{mobile}}</p>
</div>
<div>
<table align="center"> 
<tr>
  <td>
    <ion-input type="number" #otp1 class="otp" pattern="[0-9]{6}" maxlength="1" size="1" name="char1" [(ngModel)]="char1" (keyup)="next(otp2)">
    </ion-input>
  </td>
  <td>
    <ion-input type="number" #otp2 class="otp" pattern="[0-9]{6}" maxlength="1" size="1" name="char2" [(ngModel)]="char2" (keyup)="next(otp3)">
    </ion-input>
  </td>
  <td>
    <ion-input type="number" #otp3 class="otp" pattern="[0-9]{6}" maxlength="1" size="1" name="char3" [(ngModel)]="char3" (keyup)="next(otp4)">
    </ion-input>
  </td>
  <td>
    <ion-input type="number" #otp4 class="otp" pattern="[0-9]{6}" maxlength="1" size="1" name="char4" [(ngModel)]="char4">
    </ion-input>
  </td>
</tr>
</table>
</div>
<ion-item no-lines>
  <ion-checkbox item-start color="primary" checked="false" [(ngModel)]="isAccepted"></ion-checkbox>
<ion-label style="font-size:13px; color: gray">J'accepte les <a style="text-decoration: underline; color: gray">Termes et</a>  <br> <a style="text-decoration: underline; color: gray">Conditions</a> d'utilisation</ion-label>
</ion-item>
<br/>
<div style="margin-top:20px;">
  <button (click)="dashboard()" style="padding: 10px;font-size: 16px;width: 100%;color:white;background-color:#73AAD1">CONFIRMER</button>
  </div>




</div>


</ion-content>
