<ion-header>
  
  <ion-navbar>
      
   <ion-title style="text-align:center; color:white;">NOUS CONTACTER</ion-title>
   <ion-buttons right>
      <button ion-button icon-only (click)="openModal()">
    <ion-icon name="md-power"> </ion-icon> 
      
    </button>
   </ion-buttons> 		
  </ion-navbar>

</ion-header>


 <ion-content >
<!-- <div #map id="map"></div>   -->
</ion-content> 

<ion-content padding  style="margin-top:5%">


  <div style="text-align:center;   ">
    <img src="assets/images/fidra.jpg" style="width: 100%;"/>
    </div>
<!-- 
<ion-row style="background-color:rgb(253, 219, 0)">
  
    <ion-col col-12 style="text-align: center;">
      <h3 style=" font-size: 18px;margin-top: 5px;">FIDRA Contact Details</h3>
     
    </ion-col>
  </ion-row>  -->
 <!--  <p>This Application Has Been Designed & Developed By </p> -->


<h3>FIDRA, Siège social</h3>
<p>ADDRESSE : Cocody Danga Vieux Cocody, rue Gauthier, Cocody - Abidjan<br> 
  BP 23 Abidjan 08 cidex 2 - Côte d’Ivoire<br> </p>
  <P>TELEPHONE : (+225) 22 44 08 54 / 03 80 98 19 </P>
  <p>Email : <a href="mailto:info@fidra.ci">info@fidra.ci</a></p>

<h3>Service Commercial et Marketing</h3>
<p>Mobile: +225 41 45 72 30 / +225 03 12 72 45</p>
<!--   <div style="text-align:center">
<button ion-button (click)="shareViaFacebook()"><ion-icon name="logo-facebook"></ion-icon>Facebook</button>
<button ion-button (click)="shareViaEmail()"><ion-icon name="logo-google"></ion-icon>Google</button>
<button ion-button (click)="shareViaTwitter()"><ion-icon name="logo-google"></ion-icon>Twitter</button>
</div>  
-->


</ion-content>





 