page-home {
    h5 {
        font-size: 15px !important;
    }
        .segment-md .segment-button.segment-activated {
            border-color: #ffffff;
            opacity: 1;
        }
    
        .toolbar-title-md {
            padding: 0 12px;
            font-size: 2rem;
            font-weight: 500;
            color: #ffffff;
        }
        .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
            color: #ffffff;
            background-color: transparent;
        }
    
        .back-button{
            display: none !important;
        }
        .home-bg{
            background: url(../assets/img/homebg.png);
            background-size: cover;
            background-size: 100%;
            background-repeat: no-repeat;
        }
        .scroll-content{
            padding: 0 !important;
            img.logo{
                width: 25%;
                float: right;
                margin-top: 25px;
            }
            h1.heading-text{
                color: #5f5f5f;
                margin-top: 1rem;
                font-size: 2.4rem;
                margin-bottom: 5px;
            }
            p.sub-text{
                margin-top: 0;
                font-size: 1.5rem;
                color: #a7a7a7;
            }
        }
        .card{
            margin: 0;
            width: 100%;
            border-radius: 10px;
            text-align: center;
            margin-bottom: .5rem;
            box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 0px -2px rgba(0, 0, 0, 0.2), 0 0px 3px 0 rgba(0, 0, 0, 0.12);
            -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 0px -2px rgba(0, 0, 0, 0.2), 0 0px 3px 0 rgba(0, 0, 0, 0.12);
            img{
                width: 80%;
                margin: 0 auto;
            }
            p {
                font-size: 1.2rem !important;
                font-weight: bold !important;
                white-space: nowrap;
                margin-left: -15px;
                margin-right: -15px;
            }
        }
        .button-inner{
            line-height: 3rem;
        }
    
        .modal-wrapper {
            padding: 30px;
            background: rgba(0,0,0,0.5);
        }
    
    
        .bg-thime {
            background: #39c526 !important;
        }
    
        ion-navbar.toolbar {
            padding-bottom: 0 !important;
        }
        
        .toolbar-ios ion-title {
            padding: 0 16px 1px;
        }
        
        .toolbar-title-wp {
            text-transform: none;
        }
        
        .bar-button-menutoggle ion-icon {
            color: #fff !important;
        }
    
        ion-navbar {
            button {
                img {
                    width: 38px;
                }
            }
        }
        
        .toolbar-ios {
            ion-title {
                padding: 0 16px 0px 52px !important;
            }
            .toolbar-title {
                padding-right: 7px !important;
            }
        }
}
