<ion-header class="bg-thime">
    
  <ion-navbar>
    <!-- <button ion-button menuToggle style="display: block !important;">
      <img src="assets/imgs/ic_menu.png">
   </button> -->
   <ion-title style="text-align:center; color:white;margin-left: 10%;"> MON FIDRA</ion-title>
   <ion-buttons right>
      <button ion-button icon-only (click)="openModal()">
    <ion-icon name="md-power"> </ion-icon> 
      
    </button>
   </ion-buttons> 		
  </ion-navbar>

</ion-header>

<ion-content style="    background-color: #73AAD1 !important;">
  <ion-row style="background-color: #73AAD1;">
      <!-- <ion-col col-2 style="    text-align: center;">
        <img src="assets/images/ProfilePic.jpg" style="border: 2px solid #ffeb3ba8;border-radius: 100%;margin-left:5px;height: 100%;width: 80px;"/>
      </ion-col> -->
      <ion-col col-12 style="text-align: center;">
        <br>
        <h3 style=" font-size: 15px;margin-top: 5px;color:white">Bienvenue Kamon P.</h3>
        <!-- <p style=" font-size: 12px;color:white">sur FIDRA banking</p> -->
      </ion-col>
    </ion-row> 




<!-- <div>
<ion-segment [(ngModel)]="stream" style="background-color: rgba(0, 0, 0, 0.2);font-size: 1rem;">
  <ion-segment-button value="newest" style="font-size: 11px;color:white">
    ACCOUNT
  </ion-segment-button>
  <ion-segment-button value="popular" style="font-size: 11px;color:white">
    FUND TRANSFER
  </ion-segment-button>
  <ion-segment-button value="trending" style="font-size: 11px;color:#ffffff">
    SAVINGS
  </ion-segment-button>
  </ion-segment>
</div> -->



<ion-grid style="margin-top:5%;">
  
  <ion-row style="color:#ffffff;">
    <ion-col col-lg-6 style="    text-align: center;">

      <img style="max-width: 40%;;" src="assets/icon/wallet.png" (click)="Bankaccountlist()">
     <!--  <ion-icon name="ios-appstore-outline" style="font-size: 55px;" > -->
        <h5>Mes Comptes</h5>
     <!--  </ion-icon> -->
    </ion-col>
    <!-- <ion-col col-lg-4 style="    text-align: center;">
      <img style="max-width: 40%;;" src="assets/icon/Payments.png" (click)="FundTransfer()">
      <ion-icon name="ios-git-compare" style="font-size: 55px;" (click)="FundTransfer()" >
        <h5>Payments</h5>
      </ion-icon>
    </ion-col> -->
    <ion-col col-lg-6 style="    text-align: center;">
      <img style="max-width: 40%;;" src="assets/icon/OtherPayment.png" (click)="demandes()">
     <!--  <ion-icon name="ios-card" style="font-size: 55px;" (click)="ActiveLoan()" > -->
        <h5>Mes Demandes</h5>
    <!--   </ion-icon> -->
    </ion-col>
  </ion-row>


  <ion-row style="color:#ffffff;margin-top: 10%;">
    <ion-col col-lg-6 style="    text-align: center;">
      <img style="max-width: 40%;;" src="assets/icon/card96.png" (click)="produits()">
    <!--   <ion-icon name="ios-chatbubbles" style="font-size: 55px;" (click)="Beneficiary()"> -->
        <h5>Mes Produits</h5>
    <!--   </ion-icon> -->
    </ion-col>
    <!-- <ion-col col-lg-4 style="    text-align: center;">
      <img style="max-width: 40%;;" src="assets/icon/Investment.png" (click)="Investment()">
      <ion-icon name="ios-flask" style="font-size: 55px;" (click)="Investment()">
        <h5>Investment</h5>
      </ion-icon>
    </ion-col> -->
    <ion-col col-lg-6 style="    text-align: center;">
      <img style="max-width: 40%;;" src="assets/icon/cart100.png" (click)="factures()">
    <!--   <ion-icon name="ios-list-outline" style="font-size: 55px;" > -->
        <h5>Mes Factures</h5>
   <!--    </ion-icon> -->
    </ion-col>
  </ion-row>


  <!-- <ion-row style="    color:#ffffff;">
    <ion-col col-lg-4 style="    text-align: center;">
      <img style="max-width: 40%;;" src="assets/icon/LegalTerms.png" (click)="LegalTerms()">
        <ion-icon name="ios-radio-outline" style="font-size: 55px;" (click)="Support()">
          <h5>Legal Terms</h5>
        </ion-icon>
    </ion-col>


        <ion-col col-lg-4 style="text-align: center;">
          <img style="max-width: 40%;;" src="assets/icon/OtherPayment.png" (click)="OtherTransfer()">
            <ion-icon name="ios-navigate-outline" style="font-size: 55px;" (click)="OtherTransfer()">
              <h5>Other Pay</h5>
            </ion-icon>
        </ion-col>
       

        <ion-col col-lg-4 style="    text-align: center;">
          <img style="max-width: 40%;;" src="assets/icon/Contact.png" (click)="Contact()">
            <ion-icon name="ios-at-outline" style="font-size: 55px;" (click)="Contact()">
              <h5>Contact</h5>
            </ion-icon>
    </ion-col>

  </ion-row> -->



</ion-grid>








</ion-content>

<ion-footer no-border>
  <ion-col col-12>
    <button ion-button color="danger" block class="btn-theme-big-red" style="background-color: rgba(100, 164, 209, 0.664) !important;">
      <ion-icon name="contacts" style="font-size: 25px; margin-right: 10px;">
      </ion-icon>
      Ma Communauté FIDRA
    </button>
</ion-col>

<div position="top">
<!-- <marquee position="top" style="color: #ffffff;background-color: rgba(0, 0, 0, 0.14); padding:8px; " align="center" direction="left" scrollamount="3" width="100%" behavior="">
  Dear Customer Bank Will Never Ask you to Provide any Confidentials Data Such Like OTP Or Any Debit Card No Be Aware of Any fradanant Activity, if You Get Any Call you can Notify to the Bank on support contact number.
      </marquee> -->
    </div>   
</ion-footer>




<div *ngIf="modalData" id="modalLog" type="text/ng-template" style="height: 154px; width: 80%;
position: fixed;margin-left:10%; z-index: 1; background-color: rgba(158, 158, 158, 0.8);
transition: 0.5s; display:block; margin-top:50%; border-radius:10px;">
<div class="modalBox">
  <header class="bar bar-header bar-positive" style="    border-bottom: 1px solid white;">
    <h1 class="title" style="font-size:15px;text-align:center;color:white">Logout </h1>
  </header>
  <content has-header="true" padding="true">
    <div>
      <ul class="list">
        <li class="item item-checkbox" style="color:white;      margin-left: -15%;  margin-top: -20px;text-align: center;">
          Do you wish to log out?<br/>
          <label class="checkbox">
            <button (click)="closeModal()" class="button button-icon button-clear ion-navicon btn_logOut" style="padding: 10px 20px 10px 20px;font-size: 16px;border-radius: 5px;     background-color: white;   margin-top: 20px;" menu-toggle="left">Cancel</button>
            <button (click)="Logout()" class="button button-icon button-clear ion-navicon btn_logOut" style="padding: 10px 20px 10px 20px;font-size: 16px;border-radius: 5px;     background-color: white;   margin-top: 20px;" menu-toggle="left">Ok</button>
          </label>
        </li>
      </ul>
    </div>


  

  </content>


 
</div>
</div>



