
<ion-header>

  <ion-navbar>
    <ion-title style="text-align:center">Fixed Deposit List</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="openModal()">
    <ion-icon name="md-power"> </ion-icon> 
      
    </button>
   </ion-buttons> 		
  </ion-navbar>
</ion-header>


<ion-content padding >
   <ion-list>
    <ion-item text-wrap style="background-color: rgba(158, 158, 158, 0.1);">
     
      <h3>ACCOUNT NO : 100015786989</h3>
      <h3>FD AMOUNT : € 5000</h3>
      <h3>MATUARITY AMOUNT : € 6500</h3>
      <h3 style="padding-top: 3px;">ACCOUNT OPEN DATE: 27/01/2020</h3>
      <h3>MATUARITY DATE : 27/01/2021</h3>
      <button ion-button clear item-end (click)="FdCertificate()">View</button>
    </ion-item>

<br>
    <ion-item text-wrap style="background-color: rgba(158, 158, 158, 0.1); margin-top: -10px;">
     
      <h3>ACCOUNT NO : 100015786989</h3>
      <h3>FD AMOUNT : € 5000</h3>
      <h3>MATUARITY AMOUNT : € 6500</h3>
      <h3 style="padding-top: 3px;">ACCOUNT OPEN DATE: 27/01/2020</h3>
      <h3>MATUARITY DATE : 27/01/2021</h3>
      <button ion-button clear item-end (click)="FdCertificate()">View</button>
    </ion-item>



    <br>
    <ion-item text-wrap style="background-color: rgba(158, 158, 158, 0.1); margin-top: -10px;">
     
      <h3>ACCOUNT NO : 100015786989</h3>
      <h3>FD AMOUNT : € 5000</h3>
      <h3>MATUARITY AMOUNT : € 6500</h3>
      <h3 style="padding-top: 3px;">ACCOUNT OPEN DATE: 27/01/2020</h3>
      <h3>MATUARITY DATE : 27/01/2021</h3>
      <button ion-button clear item-end (click)="FdCertificate()">View</button>
    </ion-item>


  </ion-list>
 
</ion-content>
