/*FONT-FAMILY*/

//@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
//@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

/*GENERAL-STYLE*/



  

*{font-family: 'Roboto', sans-serif;}
.hm_clear{clear:both;}
.hm_bg_color{background: #162d38;border: 1px solid #162d38;}
.hm_border_none{border:none;}
.hm_border_left_none{border-left:none !important;}
.hm_border_right_none{border-right:none !important;}
.hm_border_top_none{border-top:none !important;}
.hm_border_bottom_none{border-bottom:none !important;}
.hm_header{height: 45px;width:100%;}
.hm_header_btn{width:40px;height:40px;background:transparent;padding: 0px;margin: 0px !important;box-shadow: none !important;}
.hm_search_icon{background:url("../assets/img/hm_search_icon.png") !important;background-repeat: no-repeat !important;background-position: center !important;background-size: 20px !important;}
.hm_more_icon{background:url("../assets/img/hm_more.png") !important;background-repeat: no-repeat !important;background-position: center !important;background-size: 5px !important;}
.hm_back_icon{background:url("../assets/img/hm_left_arw_icon.png") !important;background-repeat: no-repeat !important;background-position: center !important;background-size: 12px !important;}
.hm_float_left{float: left !important;}
.hm_float_right{float: right !important;}
.hm_align_center{text-align: center;}
.hm_theme_trans_bg{background: rgba(0, 0, 0, 0.8) !important;}
.hm_border_top_none{border-top:none !important;}
.hm_border_bottom_none{border-bottom:none !important;}
.hm_border_left_none{border-left:none !important;}
.hm_border_right_none{border-right:none !important;}
.hm_padding0{padding:0px !important;}

/*IONIC-OVER-WRITTEN-STYLE*/

.hm_slider .swiper-pagination-bullet{background: #faae3f;}
.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {display:none !important;}


/*MY-PROFILE*/


.hm_myprofile_photo{width:120px;height:120px;border-radius:50%;position:relative;}
.hm_myprofile_photo img{width:100%;height:100%;border-radius:50%;object-fit:cover;object-position:center;}
.hm_edit_circle{width:30px;height:30px;border-radius:50%;position:absolute;top:0px;right:0px;}
.hm_edit_circle img{width:100%;height:100%;border-radius:50%;}
.hm_myprofile_detail{width:100%;padding-top:20px;}
.hm_myprofile_left{width:70%;float:left;border-right:1px solid #a2a2a2;}
.hm_myprofile_right{width:20%;float:right;position:relative;}
.hm_myprofile_left h4{margin:0px;color:#162d38;}
.hm_myprofile_left p{margin:0px;color:#162d38;padding-top: 5px;padding-bottom: 5px;}
.hm_myprofile_left h6{margin:0px;color:#162d38;}
.hm_edit_circle1{width:30px;height:30px;border-radius:50%;position:absolute;top:15px;}
.hm_edit_circle1 img{width:100%;height:100%;border-radius:50%;}
.hm_myprofile_list{width:100%;padding-top:20px;}
.hm_myprofile_list ul{width:100%;margin:0px;padding:0px;}
.hm_myprofile_list ul li{width:100%;list-style:none;color:#162d38;font-size:16px;padding-bottom: 10px;}
.hm_myprofile_list ul li span{position:relative;top:6px;margin-right:10px;}
.hm_myprofile_list ul li span img{width:25px;height:25px;}
.hm_myprofile_detail hr{border:1px solid #a2a2a2;height:0px;border-top:none;width:50px;float:left;}





/*VIEW-PROFILE*/


.hm_view_profile_pic{width:80px;height:80px;background:#f4f4f4;border-radius:50%;float:left;margin: 15px;margin-left:0px;margin-right:15px;}
.hm_view_profile_detail{float:left;border-left:1px solid #c3c3c3;padding:5px;width:60%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;    padding-left: 15px;padding-bottom:15px;}
.hm_view_profile_banner{border-bottom:1px solid #c3c3c3;}
.hm_view_profile_detail h4{margin:0px;color:#162d38;padding-bottom:8px;font-size: 16px;}
.hm_view_profile_detail span{color:#8a8a8a;}
.hm_view_profile_detail span img{width: 14px;margin-right: 8px;}
.hm_view_profile_detail p{margin:0px;color:#8a8a8a;padding-top: 5px;font-size: 12px;}
.hm_view_profile_detail p strong{color:#162d38;font-size:18px;}
.hm_view_tab_bay{width:100%; padding-bottom: 10px;padding-top:10px;}
.hm_view_tab_bay li{float:left;list-style:none;padding: 10px;}
.hm_view_tab_bay li a{text-decoration:none;color:#162d38;font-weight:600;border-bottom:3px solid transparent;padding-bottom:5px;font-size: 17px;}
.hm_view_tab_bay .active a{border-bottom:3px solid #faae3f !important;}
.hm_chat_btn{width:47%;float:left;height:40px;border-radius:20px;border:2px solid #f9ae3e;color:#383838;background:transparent;font-size:18px;margin:3px;font-weight:500;}
.hm_call_btn{width:47%;float:right;height:40px;background:#404040;color:#fff;border-radius:20px;border:2px solid #404040;font-size:18px;margin:3px;font-weight:500;}
.hm_chat_btn span img{height:18px;position:relative;margin-left:10px;top: 3px;}
.hm_call_btn span img{height:18px;position:relative;margin-left:10px;top: 3px;}
.hm_call_btn span{position:relative;bottom:2px;}
.hm_chat_btn span{position:relative;bottom:2px;}
.hm_reviews_list{width:100%;}
.hm_reviews_list ul{width:100%;margin:0px;padding:0px;    padding-top: 20px;}
.hm_reviews_list ul li{list-style:none;}
.hm_testimonial_detail p span{margin-right: 8px;}
.hm_testimonial_detail p span img{width:14px;margin-right: 8px;}
.hm_reviews_list ul li .hm_testimoanil_p{padding-top:20px;padding-bottom:30px;}

.hm_view_tab_content{}
.hm_view_tab_content h5{color:#162d38;}
.hm_view_tab_content h4{color:#767676;}
.hm_view_tab_content p{color:#767676;}