
<ion-header no-border>
  <ion-navbar>
    <ion-title style="text-align: center;"></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div style="text-align:center;    margin-top: 0px;">
    <img src="assets/images/fidra.png" style="width: 50%;"/>
    </div>

  <div style="text-align:center;    margin-top: 0px;">
      <h4 style="padding-top: 2%;">Bienvenue Kamon P <br/></h4>
      <p style="padding-left: 5px; padding-right: 5px; text-align: center;">cliquer sur l'image de l'empreinte digitale pour ajouter votre empreinte digitale et simplifier vos accès <br/></p>

      <img src="assets/images/fingerprint.png" style="height: 70px;" (click)="showAlert()"/>
      </div>

      <div style="margin-top:20px;">
        <button (click)="showConfirm()" style="padding: 10px;font-size: 16px;width: 100%;color:white;background-color:#73AAD1">CONTINUER SANS L'EMPREINTE</button>
        </div>

        <p style="text-align:center;font-weight: 600;font-size: 12px; margin-top: 20%;">Avantages de l'empreinte digitale</p>

      <!-- <div class="foot">
          <p style="float: left;margin-left: 5%;color:white;" (click)="first()">BACK</p>
          <div class="disCir21"></div>
          <div class="disCir22"></div>
          <p style="margin-right:5%;color:white;" (click)="showConfirm()">NEXT</p></div> -->
</ion-content>

