page-enroll-fingure {
    .toolbar-title-md {
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 500;
        color: #ffffff;
    }
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: #ffffff;
        background-color: transparent;
    }
    .toolbar-background{
        background: transparent !important;
    }
    .foot{
        bottom: 0;
        left: 0;
        width: 100%;
        position: absolute;
        text-align: right;
        background-color:#488aff !important;
    }
    .ion-title {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0 90px 1px;
        width: 100%;
        height: 100%;
        text-align: center;
      }


      .alert-md 
      {
          .alert-title {
              font-size: 17px !important;
          }
      }


      .alertCustomCss{
        background-color: red;
        color: white;
        button{
            color: green!important;
        }
        .alert-wrapper{
            background: yellow;
        }
        .alert-message {
            color: skyblue;
        }
        .alert-title{
            color: black;
        }
    }


    .alert-message {
        max-height: 240px;
        font-size: 12px;
    }
}
