<ion-header><ion-navbar>
  <ion-title style="text-align:center">Payee List</ion-title>
  <ion-buttons right>
    <button ion-button icon-only (click)="openModal()">
  <ion-icon name="md-power"> </ion-icon> 
  </button>
 </ion-buttons> 		
</ion-navbar>
</ion-header>

<ion-content>
<!--  <ion-row style="background-color:rgb(253, 219, 0)">
    
    <ion-col col-12 style="text-align: center;">
      <h3 style=" font-size: 18px;margin-top: 5px;">BENEFICIARY LIST</h3>
     
    </ion-col>
  </ion-row>  -->
  <div class="row header scrollmenu">
    <div class="col">NAME</div>
    <div class="col">ACCOUNT NO</div>
    <!-- <div class="col">BANK NAME</div> -->
    <div class="col">MODE</div>
  </div>
  <div class="row" >
    <div class="col">Saurabh P</div>
    <div class="col">LT100001088767</div>
  <!--   <div class="col">{{image.BankName}}</div> -->
    <div class="col">NEFT</div>
  </div>
  
  <div class="row" >
    <div class="col">Saurabh P</div>
    <div class="col">LT100001088767</div>
  <!--   <div class="col">{{image.BankName}}</div> -->
    <div class="col">INTRA</div>
  </div>

  <div class="row" >
    <div class="col">Saurabh P</div>
    <div class="col">LT100001088767</div>
  <!--   <div class="col">{{image.BankName}}</div> -->
    <div class="col">NEFT</div>
  </div>

  <div class="row" >
    <div class="col">Sagar Vaidya</div>
    <div class="col">LT100001088767</div>
  <!--   <div class="col">{{image.BankName}}</div> -->
    <div class="col">INTRA</div>
  </div>

  <div class="row" >
    <div class="col">Saurabh P</div>
    <div class="col">LT100001088767</div>
  <!--   <div class="col">{{image.BankName}}</div> -->
    <div class="col">NEFT</div>
  </div>

  <div class="row" >
    <div class="col">Saurabh P</div>
    <div class="col">LT100001088767</div>
  <!--   <div class="col">{{image.BankName}}</div> -->
    <div class="col">NEFT</div>
  </div>

  <div class="row" >
    <div class="col">Saurabh P</div>
    <div class="col">LT100001088767</div>
  <!--   <div class="col">{{image.BankName}}</div> -->
    <div class="col">NEFT</div>
  </div>

  <div class="row" >
    <div class="col">Saurabh P</div>
    <div class="col">LT100001088767</div>
  <!--   <div class="col">{{image.BankName}}</div> -->
    <div class="col">NEFT</div>
  </div>

  <div class="row" >
    <div class="col">Saurabh P</div>
    <div class="col">LT100001088767</div>
  <!--   <div class="col">{{image.BankName}}</div> -->
    <div class="col">NEFT</div>
  </div>
</ion-content>
