/*font css*/ 
@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
    font-family: 'Montserrat', sans-serif ;
}

.toolbar-background{
    background: #73AAD1 !important;
}


.form-theme{
    width: 100%;
    display: block;
    .input{
        background: #eaeaea;
        border: 0px;
        border-radius: 5px;
        margin-bottom: 1rem;
    }
    .text-input{
        color: #c0c0c0;
    }
}


.btn-theme-big-red{
    height: 4.5rem !important;
    &.button {
        background-color: #d71e1e;
        text-transform: none;
        border-radius: 5px;
    }
}
.btn-theme-big-white{
    height: 4.5rem !important;
    &.button {
        background-color: #fff;
        color:#d71e1e;
        text-transform: none;
        border-radius: 5px;
    }
}
.toolbar-title{
    font-size: 1.6rem !important;
}
.bg-theme{
    background: #f9f9f9;
}
.bg-white{
    background: #fff;
}
.text-red{
    color:#d71e1e !important;
}
.bg-red{
    background: #d71e1e !important;
}
.text-white{
    color: #fff  !important;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(17, 17, 17, 0.88);
    overflow-x: hidden;
    transition: 0s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
	font-size: 18px;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    font-size: 36px;
    margin-left: -10px;
}


/////////////////for menu bar ///////////////////////////



.menu-inner {
    background: rgba(0, 0, 0, 0.75) !important;
    .item,
    .item-inner,
    .toolbar-background {
        background: transparent !important;
        border-color: transparent !important;
        color: #fff;
    }
    ion-content {
        background: transparent !important;
    }
    ion-header {
        ion-avatar {
            min-width: 60px;
            min-height: 60px;
            img {
                width: 60px;
                height: 60px;
            }
        }
        .toolbar-content {
            padding-top: 1.3rem;
        }
        h2 {
            display: flex;
            align-items: center;
            margin-bottom: 7px;
            ion-icon {
                margin-left: auto;
            }
        }
        p {
            color: rgba(255, 255, 255, 0.5);
            font-size: 1.2rem;
        }
        .menu-tabs {
            img {
                width: 30px;
            }
            background: #f30125bd;
            p {
                color: #fff;
              font-size: 1.10rem;
                margin: 0;
            }
        }
    }
    .menu-title {
        padding: 16px 8px;
        button {
            ion-label {
                display: flex;
                align-items: center;
                font-size: 1.3rem;
                margin-top: 10px;
                margin-bottom: 10px;
                img {
                    width: 34px;
                    margin-right: 2rem;
                }
                span {
                    small {
                        display: block;
                        opacity: .5;
                        margin-bottom: 5px;
                        font-size: 95%;
                    }
                }
            }
        }
    }


    .alert-title {
        text-align: center;
        font-size: 10px !important;
       
    }



 
  
}