<!-- <ion-menu [content]="content">
    <ion-header>
        <ion-toolbar>
            <ion-list>
                <ion-item>
                    <ion-avatar item-start>
                        <img src="assets/images/ProfilePic.jpg">
                    </ion-avatar>
                    <h2>{{this.CustomerName}}
                        <ion-icon name="ios-arrow-forward"></ion-icon>
                    </h2>
                </ion-item>
                <div class="menu-title" style="padding: 0;">
                    <button ion-item menuClose (click)="locationPage()">
                    <img src=" assets/imgs/ic_my_addresses.png" style="margin-right: 1rem;">
                        <span><small>Your Location</small>
                        Chandrapur, Maharashtra</span>
                </button>
                </div>
            </ion-list>
        </ion-toolbar>
        <div class="menu-tabs" padding text-center>
             <ion-row>
                <ion-col col-4 menuClose (click)="myorder_1Page()">
                    <img src="assets/imgs/ic_my_orders-2.png">
                    <p>My Order</p>
                </ion-col>
                <ion-col col-4 menuClose (click)="my_accountPage()">
                    <img src="assets/imgs/ic_my_cards-2.png">
                    <p>My Card</p>
                </ion-col>
                <ion-col col-4 menuClose (click)="my_accountPage()">
                    <img src="assets/imgs/ic_my_addresses-2.png">
                    <p>My Addresses</p>
                </ion-col>
            </ion-row> 
        </div>
    </ion-header>

    <ion-content>
        <div class="menu-title">
            <ion-list>
                <button ion-item menuClose (click)="home()">
                    <img src=" assets/imgs/ic_home.png ">
                        Home
                </button>
                <button ion-item menuClose (click)="categoryPage()">
                    <img src="assets/imgs/ic_categories.png ">
                     Active Loans                 
                </button>
                <button ion-item menuClose (click)="my_accountPage()">
                    <img src="assets/imgs/ic_my_account.png ">
                        My Account
                </button>
                <button ion-item menuClose (click)="Contactpage()">
                    <img src="assets/imgs/ic_help.png ">
                        Help Center
                </button>
                <button ion-item menuClose (click)="LogoutApp()">
                    <img src="assets/imgs/ic_logout.png ">
                        Logout
                </button>
            </ion-list>
        </div>
    </ion-content>

</ion-menu>


 <ion-nav [root]="rootPage" #content swipeBackEnabled="false "></ion-nav> -->

 <ion-nav [root]="rootPage"></ion-nav>

