<ion-header><ion-navbar>
        <ion-title style="text-align:center">Add New Payee</ion-title>
        <ion-buttons right>
          <button ion-button icon-only (click)="openModal()">
        <ion-icon name="md-power"> </ion-icon> 
        </button>
       </ion-buttons> 		
      </ion-navbar>
      </ion-header>
      

<ion-content >

  <div style="background-color:white;padding:10px;text-align: left;">
       
    <div style="background-color:rgba(240,240,240,0.41);padding:10px;margin-top:10px;">
        <ion-icon style="color:#757575;font-size: 20px;" name="md-code-working"></ion-icon>
            <select class="formIn dropdown_container" style=" width: 73%; " placeholder="SELECT MODE"  #newSelect [(ngModel)]="carbrand" (change)="onChange(carbrand)">
              
                <option value="Intra">ECO BANK - (Intra Transfer)</option>
                <option value="Other">OTHER BANK</option>
            </select>
     </div>


     
    <div style="background-color:rgba(240,240,240,0.41);padding:10px;margin-top:10px;">
        
             <ion-icon style="color:#757575;font-size: 20px;" name="md-code-working"></ion-icon>
             <input class="formIn" style="    width: 88%;"type="text" [(ngModel)]="IFSC" name="IFSC" placeholder="IFSC CODE" required/>  
             <ion-icon style="color:#757575;font-size: 20px;" name="ios-list-outline" (click)="ifscverify()"></ion-icon>
         </div>


         <div style="background-color:rgba(240,240,240,0.41);padding:10px;margin-top:10px;">
            
                 <ion-icon style="color:#757575;font-size: 20px;" name="md-eye"></ion-icon>
                 <input class="formIn" type="password" style="    width: 88%;"  [(ngModel)]="AccountNo" name="AccountNo" placeholder="ACCOUNT NO"/>  
            
         </div>

         <div style="background-color:rgba(240,240,240,0.41);padding:10px;margin-top:10px;">
            
                 <ion-icon style="color:#757575;font-size: 20px;" name="md-expand"></ion-icon>
                 <input class="formIn" style="    width: 88%;"type="text" [(ngModel)]="BeneficiaryAccountNo" name="BeneficiaryAccountNo" placeholder="CONFIRM ACCOUNT NO"/>  
            
         </div>
         <div style="background-color:rgba(240,240,240,0.41);padding:10px;margin-top:10px;">
            
                 <ion-icon style="color:#757575;font-size: 20px;" name="ios-contact"></ion-icon>
                 <input class="formIn" style="    width: 88%;"type="text" [(ngModel)]="BeneficiaryAccountName" name="BeneficiaryAccountName" placeholder="ACCOUNT NAME"/>  
            
         </div>

 <div style="background-color:rgba(240,240,240,0.41);padding:10px;margin-top:10px;">
    
         <ion-icon style="color:#757575;font-size: 20px;" name="md-expand"></ion-icon>
         <input class="formIn" style="    width: 250px;"type="text" [(ngModel)]="pass" name="pass" placeholder="SHORT NAME"/>  
    
 </div>

 
    

 <div style="margin-top:10px;">
    <button  (click)="confirmpayee()" style="padding: 10px;font-size: 16px;width: 49%;color:white;background-color:rgb(3, 175, 184);">
    <ion-icon style="color:white;font-size: 18px;" ></ion-icon>
    ADD PAYEE</button>
    <button style="padding: 10px;font-size: 16px;width: 49%;color:white;background-color:rgb(255, 126, 109);">
    <ion-icon style="color:white;font-size: 18px;" ></ion-icon>
    CANCLE</button>
  </div>
    </div>


</ion-content>
