page-add-payee {
    .toolbar-title-md {
        padding: 0 12px;
        font-size: 2rem;
        font-weight: 500;
        color: #ffffff;
    }
    .bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default {
        color: #ffffff;
        background-color: transparent;
    }
  
  
    .formIn{
        border: none;
        padding: 5px;
        background-color: rgb(249, 249, 249);
    }
    .dropdown{
       width: 94%; 
    }

    div.dropdown_container {
        width:100px;
    }
    
    select.my_dropdown {
        width:250px;
    }

    .alert-md .alert-wrapper {
        border-radius: 39px;
        max-width: 280px;
        background-color: #f4f4f4;
        -webkit-box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
        box-shadow: 0 16px 20px rgba(0, 0, 0, 0.4);
        margin-top: 25%;
    }
}
