
<ion-header>

  <ion-navbar>
    <ion-title style="text-align:center">Mes Demandes</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="openModal()">
    <ion-icon name="md-power"> </ion-icon> 
      
    </button>
   </ion-buttons> 		
  </ion-navbar>

  <ion-row no-border no-lines style="background-color: rgb(148, 182, 206);text-align: center;padding: 1px;">
    <ion-col col-lg-3 style="text-align: center;background: transparent;" (click)="Bankaccountlist()">
      <img style="max-width: 30%;color: rgb(23, 78, 122)!important;" src="assets/icon/wallet.png" >
    <!--   <ion-icon name="ios-chatbubbles" style="font-size: 55px;" (click)="Beneficiary()"> -->
        <!-- <h5 text-center style="font-size: 10px;margin-top: 1px;text-align: center;">Comptes</h5> -->
    <!--   </ion-icon> -->
    </ion-col>
    <ion-col col-lg-3 style="    text-align: center;background: #73AAD1;">
      <img style="max-width: 30%;;" src="assets/icon/OtherPayment.png">
      <!-- <ion-icon name="ios-list-outline" style="font-size: 55px;"> -->
        <!-- <h5 style="font-size: 10px;margin-top: 1px;">demandes</h5> -->
      <!-- </ion-icon> -->
    </ion-col>
    <ion-col col-lg-3 style="    text-align: center;background: transparent;" (click)="produits()">
      <img style="max-width: 30%;;" src="assets/icon/card96.png">
    <!--   <ion-icon name="ios-list-outline" style="font-size: 55px;" > -->
        <!-- <h5 style="font-size: 10px;margin-top: 1px;">produits</h5> -->
   <!--    </ion-icon> -->
    </ion-col>
    <ion-col col-lg-3 style="    text-align: center;background: transparent;" (click)="factures()">
      <img style="max-width: 30%;;" src="assets/icon/cart100.png">
    <!--   <ion-icon name="ios-list-outline" style="font-size: 55px;" > -->
        <!-- <h5 style="font-size: 10px;margin-top: 1px;">factures</h5> -->
   <!--    </ion-icon> -->
    </ion-col>
  </ion-row>
  
</ion-header>


<ion-content padding >
   <ion-list style="margin-top: 20px;">
    <ion-item text-wrap style="background-color: rgba(158, 158, 158, 0.2);">
     
      <!-- <h3>FD AMOUNT : € 5000</h3> -->
      <!-- <h3>MATUARITY AMOUNT : € 6500</h3> -->
      <h3 style="padding-top: 3px;">PRET INITIE LE : 27/01/2020</h3>
      <h3>COMPTE No : 100015786989</h3>
      <!-- <h3>MATUARITY DATE : 27/01/2021</h3> -->
      <button ion-button clear item-end (click)="FdCertificate()">voir</button>
    </ion-item>
  </ion-list>
 
  
<div style="padding-left: 16px; padding-right: 16px; padding-top: 16px;">
  <button ion-button color="danger" block class="btn-theme-big-red" (click)="ActiveLoan()" style="background-color: #73AAD1 !important;">Nouvelle Demande</button>
</div>

</ion-content>
