<!--
  Generated template for the InvestmentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Relevé de compte</ion-title>
    <!-- <ion-buttons right>
        <button ion-button icon-only (click)="openModal()">
      <ion-icon name="ios-help-circle-outline"> </ion-icon> 
    </button>
     </ion-buttons> -->
  </ion-navbar>
  
</ion-header>


<ion-content>
    
<div>
  <button (click)="ViewStatement(this.accountno)" style="padding: 10px;font-size: 12px; border-radius: 0px 0px 0px 0px; width: 100%;color:white;background-color:#73AAD1;">

    Relevé de compte - 5 dernieres Transastions</button>
  <!-- <button (click)="SignUp()" style="padding: 10px;font-size: 12px;width: 49%; border-radius: 0px 0px 0px 0px; color:white;background-color:#e91e63;">

      Sign Up</button> -->


      <!-- <div class="row header scrollmenu">
        <div class="col"><h5>BALANCE</h5></div>
       
         <div class="col"><h5>CR</h5></div>
         <div class="col"><h5>DR</h5></div>
         <div class="col"><h5>DATE</h5></div>
       </div>
       <div class="row" *ngFor="let data of AccountStatementdata" >
       <div class="col"><h5>{{data.Balance}}</h5></div>
         <div class="col"><h5>{{data.Deposit}}</h5></div>
         <div class="col"><h5>{{data.Withdraw}}</h5></div>
         <div class="col"><h5>{{data.Transactiondate}}</h5></div>
       </div>  -->


       <div class="row header scrollmenu">
        <!--  <div class="col">ID</div> -->
         <div class="col"><h5>REMARQUE</h5></div>
         <div class="col"><h5>DATE</h5></div>
         <div class="col"><h5>MONTANT</h5></div>
       </div>
       <div class="row" >
         <!--   <div class="col">{{data.BeneficiaryCustomerId}}</div> -->
         <div class="col"><h5>SODECI </h5></div>
         <div class="col"><h5>01-02-2020</h5></div>
         
         <div class="col"><h5 style="color:red">- 4000 CFA</h5></div>
       </div> 

       <div class="row" >
        <!--   <div class="col">{{data.BeneficiaryCustomerId}}</div> -->
        <div class="col"><h5>John Doe </h5></div>
        <div class="col"><h5>01-02-2020</h5></div>
        
        <div class="col"><h5 style="color:green"> + 7000 CFA</h5></div>
      </div> 

      <div class="row" >
        <!--   <div class="col">{{data.BeneficiaryCustomerId}}</div> -->
        <div class="col"><h5>Saurabh P </h5></div>
        <div class="col"><h5>05-02-2020</h5></div>
        
        <div class="col"><h5 style="color:green">+ 15 000 CFA</h5></div>
      </div> 


      <div class="row" >
        <!--   <div class="col">{{data.BeneficiaryCustomerId}}</div> -->
        <div class="col"><h5>Canal +</h5></div>
        <div class="col"><h5>07-02-2020</h5></div>
        
        <div class="col"><h5 style="color:red">- 8000 CFA</h5></div>
      </div> 


      <div class="row" >
        <!--   <div class="col">{{data.BeneficiaryCustomerId}}</div> -->
        <div class="col"><h5>Bajaj Fin -EMI </h5></div>
        <div class="col"><h5>01-02-2020</h5></div>
        
        <div class="col"><h5 style="color:red">- 2000 CFA</h5></div>
      </div> 
    </div>

<!-- <hr>
<ion-content>
    <ion-row style="background-color:rgb(253, 219, 0)">
        
        <ion-col col-12 style="text-align: center;">
          <h3 style=" font-size: 18px;margin-top: 5px;">RD SCHEME</h3>
         
        </ion-col>
      </ion-row> 
  <div class="row header">
      <div class="col">FD SCHEME</div>
      <div class="col">TEARMS</div>
      <div class="col">INTREST RATE</div>
  </div>
  <div class="row" ng-repeat="data in this.data">
      <div class="col">Business</div>
      <div class="col">1 Years</div>
      <div class="col">10% -</div>
  </div> 
  <div class="row" ng-repeat="data in this.data">
    <div class="col">Business</div>
    <div class="col">2 Years</div>
    <div class="col">25% -</div>
</div> 
<div class="row" ng-repeat="data in this.data">
  <div class="col">Business</div>
  <div class="col">5 Years</div>
  <div class="col">75 % -</div>
</div> 
<div class="row" ng-repeat="data in this.data">
  <div class="col">Business</div>
  <div class="col">5 Years</div>
  <div class="col">5000/-</div>
</div> 
<div class="row" ng-repeat="data in this.data">
    <div class="col">Business</div>
    <div class="col">5 Years</div>
    <div class="col">5000/-</div>
  </div> 
  <div class="row" ng-repeat="data in this.data">
      <div class="col">Business</div>
      <div class="col">5 Years</div>
      <div class="col">5000/-</div>
    </div> 

<button ion-button full (click)="fdcertificate()" padding>Open FD Now</button> -->
</ion-content>
